.home_layout_container{
	width: 100%;
	height: 100%;
	border: 3px solid #44A7EE;
}
.home_layout{
	background-image: linear-gradient(to bottom, #3b4970,#162743);
	display: flex;
	flex-direction: column;
	width: 100%;
	min-height: 100%;
	height: auto;
	overflow: scroll
}
.home_content_layout{
	width: 100%;
	height: 90%;
}

.home_header_layout{
	width:99%;
	height: 80px;
	display: flex;
	flex-direction: row;
	margin: 0 auto;
	margin-top: 5px;
	background: url(../../assets/pic_nav_bg.png) no-repeat center;
	background-size: 100% 100%;
}

.header_content_layout{
	margin-top: 30px;
	width:100%;
}

.home_title{
	color: white;
	margin-left: 15px;
	font-size: 28px;
}
.header_button{
	color: #99b4df;
	display: block;
	width: 120px;
	font-size: 20px;
	text-align: center;
}

.header_button:hover{
    color: white;
}
.active{
	color: white;
}

.home_title_menu_button_layout{
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 47%
}

.home_title_button_line{
	width: 20px;
	height: 50px;
	background: url(../../assets/pic_nav_line.png) no-repeat center;
	background-size: 100% 100%
}

.home_head_time_layout{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 10%;
	min-width: 130px;
}
.home_head_time_label{
	color: white;
	font-size: 24px;
	height: 30px;
	text-align: center;
}

.home_head_date_label{
	color: #99b4df;
	height: 25px;
	text-align: center;
	font-size: 12px;
}