<template>
	<Layout class="home_layout_container">
		<div class="home_layout">
			<Header class="home_header_layout">
				<div style="display: flex;flex-direction: row;width: 45%; height: 100%;align-items: center;">
					<label class="home_title">工业经济可持续发展监测系统</label>
				</div>
				<div class="home_title_menu_button_layout">
					<a @click="toPager(0)" :class="industry">工业经济</a>
					<div class="home_title_button_line"></div>
					<a @click="toPager(1)" :class="estate">产业分析</a>
					<div class="home_title_button_line"></div>
					<a @click="toPager(2)" :class="area">区域分析</a>
				</div>
				<div class="home_head_time_layout">
					<label class="home_head_time_label">{{time}}</label>
					<label class="home_head_date_label">{{date}}</label>
				</div>
			</Header>
		    <Content>
		        <router-view />
		    </Content>
		</div>    
	</Layout>
</template>

<script>
	var currentPager = 0
	import config from '@/config'
	import { mapGetters } from 'vuex'
	import {
		setCurrentPager,
		getCurrentPager
	} from '@/util/util'
	
	function getCurrentBrowser(){
		if (!!window.ActiveXObject || "ActiveXObject" in window || window.navigator.userAgent.indexOf("MSIE") >= 1) {
			return 1
		}else if(window.navigator.userAgent.indexOf("Edge") > -1){
			return 1
		}else{
			return 0
		}
	}
	
	var weekDay = ['星期一','星期二','星期三','星期四','星期五','星期六','星期日',]
	
	function getDate(date){
		var year = date.getFullYear()
		var mon = date.getMonth()
		var day = date.getDate()
		var week = date.getDay()
		return year+'年'+mon+'月'+day+'日 ' +weekDay[week - 1]
	}
	function getTime(date){
		var hour = date.getHours()
		var min = date.getMinutes()
		var second = date.getSeconds()
		hour = hour<=9 ? '0' +hour:hour,
		min = min<=9 ? '0' +min:min,
		second = second<=9 ? '0' +second:second
		return hour+':'+min+':'+second;
	}

	
	export default{
		data(){
			return{
				date:'',
				time:'',
				timer:null,
				industry:"header_button active",
				area:"header_button",
				estate:"header_button"
			}
		},
		mounted() {
			this.getPager();
			if(getCurrentBrowser() == 1){
				this.$store.dispatch('setBarColorList',['#fff','#000'])
			}
			console.log('--1111----------->',this.$store.getters.getBarColorList)
			document.title = "首页 - "+config.title;
		},
		created() {
            clearInterval(this.timer)
            this.timer = null
            this.setTimer()
        },
        destroyed(){
            clearInterval(this.timer)
            this.timer = null
        },
		methods:{
			// setColorList(){
			// 	this.$store.dispatch('setBarColorList',['#fff','#000'])
			// },
			getPager(){
				currentPager = getCurrentPager();
				this.toPager(currentPager)
			},
			setTimer() {
                if(this.timer == null) {
                    this.timer = setInterval( () => {
                        var date = new Date();
						this.date = getDate(date)
						this.time = getTime(date)
                    }, 1000)
                }
            },
			toPager(pager){
				currentPager = pager;
				setCurrentPager(currentPager)
				if(pager == 0){
					this.$router.push({
					  name: "industry"
                    })
                    document.title = "工业经济 - "+config.title;
				}else if(pager == 1){
					this.$router.push({
					  name: "estate"
                    })
                    document.title = "产业分析 - "+config.title;
				}else{
					this.$router.push({
					  name: "area"
                    })
                    document.title = "区域分析 - "+config.title;
				}
				this.chanageClassStyle(pager)
			},
			chanageClassStyle(index){
				this.industry = "header_button"
				this.area = "header_button"
				this.estate = "header_button"
				if(index == 0){
					this.industry = "header_button active"
				}else if(index == 1){
					this.estate = "header_button active"
				}else{
					this.area = "header_button active"
				}
			}
		}
	}
</script>

<style>
	@import './home.less';
</style>
