<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <!--IE = edge告诉IE使用最新的引擎渲染网页，chrome = 1则可以激活Chrome Frame-->
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />   
    <!-- <link rel="icon" href="<%= BASE_URL %>favicon.ico"> -->
    <title>工业经济可持续发展监测系统</title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but fms_front doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
