.industry_layout{
	width: 100%;
	height: 100%;
	padding-top: 10px;
}

.industry_row_layout{
	height: 100%
}

.industry_col_layout{
	height: 100%
}

.industry_left_layout{
	width: 100%;
	height: 100%;
}

.industry_left_map_layout{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 100%;
	z-index: 1;
}
.industry_left_title{
	color: white;
	font-size: 14px
}
.industry_right_layout{
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	align-items: center
}

.overall_situation_layout{
	display: flex;
	flex-direction: row;
	width: 96%;
	height: 33%;
	background: url(../../assets/pic_lin_boxhight300.png) no-repeat;
	background-size: 100% 100%
}

.industry_second_row_layout{
	display: flex;
	flex-direction: row;
	width: 96%;
	height: 32%;
}

.innovation_ability_layout{
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: url(../../assets/pic_line_box460.png) no-repeat;
	background-size: 100% 100%
}

.industry_left_bottom_row_layout{
	width: 98%;
	height:31%;
	margin-left: 2%;
	display: flex;
	flex-direction: row;
	position: absolute;
	z-index: 5;
	bottom: 1%
}

.overall_situation_title{
	color: #e8e9ee;
	font-size: 14px;
	text-align: center;
	margin-top: 10px;
	width: 20%
}

#myChart{
	width: 100%;
	height:90%;
}

.myChart_parent{
	width: 70%;
	height: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.innovation_ability_title{
	color:#7f9bc3; 
	font-size: 10px;
	margin-top: 1%
}
.innovation_ability_content_layout{
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
	height: 60%
}
.pie_charts_layout{
	width: 50%;
	height: 100%;
}
.innovation_ability_content_label{
	width: 38%;
	color: white;
	text-align: center;
	font-size: 12px;
}
.innovation_ability_list_layout{
	display: flex;
	flex-direction: column;
	width: 95%;
	height:60px;
	margin-bottom: 5px;
	border: 1px solid #3c4a6d; 
	border-radius: 5px;
}
.innovation_ability_list_item_layout{
	display: flex;
	flex-direction: row;
	width: 100%
}

.innovation_ability_list_item_label{
	font-size: 10px;
	color: #94aacf;
	width: 50%;
	padding-top: 8px;
	height:30px;
	text-align: right;
	padding-right: 5px
}
.innovation_ability_list_item_right_label{
	font-size: 10px;
	color: #94aacf;
	width: 50%;
	padding-top: 8px;
	height:30px;
	text-align: right;
	padding-right: 5px
}

.governmen_support_content_layout{
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
	height: 100%;
}
.governmen_support_chart_layout{
	width: 58%;
	height: 100%;
	margin-bottom: 30px;
}

.human_resource_layout{
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: url(../../assets/pic_line_box_no.png) no-repeat;
	background-size: 100% 100%
}
#human_resource_chart{
	width: 85%;
	height: 90%
}

#economic_performance_chart{
	width: 85%;
	height: 90%
}
.environmental_protection_layout{
	display: flex;
	flex-direction: column;
	width: 96%;
	height: 32%;
	background: url(../../assets/pic_lin_boxhight300.png) no-repeat;
	background-size: 100% 100%
}

.environmental_protection_list_title_layout{
	display: flex;
	flex-direction: row;
	margin: 0 auto;
	width: 90%;
	height: 25px;
	margin-bottom: 5px;
	margin-top: 15px;
	background: #162743
}
.environmental_protection_list_title_label{
	color: #7f9bc3;
	font-size: 10px;
	text-align: center;
	padding-top: 3px;
	width: 30%
}
.environmental_protection_list_title_label_style_small {
	width: 20%;
	color: #7f9bc3;
	font-size: 10px;
	padding-top: 3px;
	text-align: center;
}
.environmental_protection_list_itme_layout{
	display: flex;
	flex-direction: row;
	margin: 0 auto;
	width: 90%;
	height: 95%;
	align-items: center
}
.environmental_protection_list_item_label{
	color: white;
	font-size: 12px;
	text-align: center;
	padding-top: 5px;
	width: 30%
}
.environmental_protection_list_item_label_style_small{
	width: 20%;
	color: white;
	text-align: center;
	font-size: 12px;
	padding-top: 5px;
	text-align: white;
}
.environmental_protection_list_content_layout{
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 18%
}

.gross_industrial_output_content_layout{
	width: 465px;
	height: 571px;
	background: url(../../assets/pic_bg_earth_cyfx.png) no-repeat;
	background-size: 100% 80%
}

.industry_map{
	width: 465px;
	height: 571;
	position: absolute;
	z-index: 1;
}

#gross_industrial_output_chart{
	width: 465px;
	height: 571px;
	position: absolute;
	z-index: 2;
}

.gross_industrial_output_describe_layout{
	display: flex;
	flex-direction: column;
	align-items: center;
	position: absolute;
	z-index: 10;
	width: 200px;
	top: 40%;
	left: 5%
}
.gross_industrial_output_describe_top_label{
	color: white;
	font-size: 10px;
}

.gross_industrial_output_describe_bottom_label_layout{
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: 5px;
	width:200px;
	padding-left: 12px;
	background: url(../../assets/pic_number_bg_cxnl.png) no-repeat;
	background-size: 100% 100%
}

.gross_industrial_output_describe_bottom_left_label{
	color: #f4c263;
	font-size: 26px;
	margin-left: 10px;
}
.gross_industrial_output_describe_bottom_right_label{
	color: #7f9bc3;
	margin-left: 5px;
	font-size: 10px;
}

.governmen_support_chart_title{
	color: white
}