<template>
	<div class="industry_layout">
		<Row type="flex" class="industry_row_layout">
			<Col span="12" class="industry_col_layout">
				<div class="industry_left_layout">
					<div class="industry_left_map_layout">
						<label class="industry_left_title">工业总产值</label>
						<div class="gross_industrial_output_content_layout">
							<img class="industry_map" src="../../assets/pic_map_js.png"/>
							<div id="gross_industrial_output_chart"></div>
						</div>
					</div>
					<div class="industry_left_bottom_row_layout">
						<div class="human_resource_layout" >
							<label class="innovation_ability_title">人力资源</label>
							<div id="human_resource_chart"></div>
						</div>
						<div style="width: 1%;"></div>
						<div class="human_resource_layout">
							<label class="innovation_ability_title">经济效益</label>
							<div id="economic_performance_chart"></div>
						</div>
					</div>
					<div class="gross_industrial_output_describe_layout">
						<label class="gross_industrial_output_describe_top_label">{{grossIndustrialOutputData.year}}年末，江苏省工业生产总值共计</label>
						<div class="gross_industrial_output_describe_bottom_label_layout">
							<label class="gross_industrial_output_describe_bottom_left_label">{{grossIndustrialOutputData.value}}</label>
							<label class="gross_industrial_output_describe_bottom_right_label">亿元</label>
						</div>
					</div>
				</div>
			</Col>
			<Col span="12">
				<div class="industry_right_layout">
					<div class="overall_situation_layout">
						<label class="overall_situation_title">总体情况</label>
						<div class="myChart_parent">
							<div id="myChart"/>
						</div>
					</div>
					<div style="height: 1%;"></div>
					<div class="industry_second_row_layout">
						<div class="innovation_ability_layout">
							<label class="innovation_ability_title">创新能力</label>
							<div class="innovation_ability_content_layout">
								<div class="pie_charts_layout" id="innovation_ability_charts"></div>
								<label class="innovation_ability_content_label">{{innovationAbilityData.year}}年工业研发机构仪器和设备投入额</label>
							</div>
							<div class="innovation_ability_list_layout">
								<div class="innovation_ability_list_item_layout">
									<label class="innovation_ability_list_item_label">有效发明专利数</label>
									<div style="background:#3c4a6d; width: 1px; height: 30px;"></div>
									<label class="innovation_ability_list_item_right_label">{{innovationAbilityData.patent}}个</label>
								</div>
								<hr style=" height:1px;border:none;border-top:1px solid #3c4a6d;" />
								<div class="innovation_ability_list_item_layout">
									<label class="innovation_ability_list_item_label">工业企业研发机构仪器和设备投入额</label>
									<div style="background:#3c4a6d; width: 1px; height: 30px;"></div>
									<label class="innovation_ability_list_item_right_label">{{innovationAbilityData.input_value}}亿元</label>
								</div>
							</div>
						</div>
						<div style="width: 1%;"></div>
						<div class="innovation_ability_layout">
							<label class="innovation_ability_title">政府支持</label>
							<div class="governmen_support_content_layout">
								<div class="governmen_support_chart_layout" id="governmen_support_chart"/>
								
								<!-- <label class="governmen_support_chart_title">政府性基金预算增速</label> -->
								<label class="innovation_ability_content_label">{{governmenSupportData.year}}年政府专项支持资金共计{{governmenSupportData.value}}亿元，同比{{governmenSupportData.rateCompare}}%，较{{governmenSupportData.year - 1}}年{{governmenSupportData.rate}}%</label>
							</div>
						</div>
					</div>
					<div style="height: 1%;"></div>
					<div class="environmental_protection_layout">
						<label class="overall_situation_title">节能环保</label>
						<div class="environmental_protection_list_title_layout"> 
							<label class="environmental_protection_list_title_label_style_small" style="text-align: left; padding-left: 10px;" >年份</label>
							<label class="environmental_protection_list_title_label">单位工业增加值能耗（吨标煤/万元）</label>
							<label class="environmental_protection_list_title_label">单位工业增加值用水量（立方米/万元）</label>
							<label class="environmental_protection_list_title_label_style_small">用电量（亿千瓦时）</label>
						</div>
						<div class="environmental_protection_list_content_layout" v-for="item in protectionData">
							<div class="environmental_protection_list_itme_layout">
								<label class="environmental_protection_list_item_label_style_small" style="text-align: left; padding-left: 10px;">{{item.year}}</label>
								<label class="environmental_protection_list_item_label">{{item.coal_value}}</label>
								<label class="environmental_protection_list_item_label">{{item.waterValue}}</label>
								<label class="environmental_protection_list_item_label_style_small">{{item.electricity_value}}</label>
							</div>
							<hr style="margin:0 auto;width:90%;height:1px;border:none;border-top:1px dashed  #445573;"/>
						</div>
					</div>
				</div>
			</Col>
		</Row>
	</div>
</template>

<script>
	import {
	  getGrossIndustrialOutput,
	  getOverallSituationData,
	  getInnovationAbilityData,
	  getGovernmenSupportData,
	  getHumanResourceData,
	  getEconomicPerformanceData,
	  getEnvironmentalProtectionData
	} from '@/api/data'
	
	let echarts = require('echarts/lib/echarts')
	require('echarts/lib/chart/bar')
	require("echarts/lib/chart/pie")
	require("echarts/lib/chart/line")
	require("echarts/lib/chart/scatter");
	require("echarts/lib/chart/effectScatter");
	require('echarts/lib/component/tooltip')
	require('echarts/lib/component/title')
	require("echarts/lib/component/legend");
	var cityPositionData = [
		{
			name:'南京市',
			offset:[32.6,31.8]
		},
		{
			name:'苏州市',
			offset:[75,5.2]
		},
		{
			name:'无锡市',
			offset:[68.5,13.5],
		},
		{
			name:'常州市',
			offset:[60.5,21],
		},
		{
			name:'镇江市',
			offset:[50,32.8],
		},
		{
			name:'扬州市',
			offset:[49,37.6],
		},
		{
			name:'泰州市',
			offset:[63.7,37.3],
		},
		{
			name:'盐城市',
			offset:[75.2,57.2],
		},
		{
			name:'淮安市',
			offset:[48,68.5],
		},
		{
			name:'徐州市',
			offset:[8.8,90.8],
		},
		{
			name:'连云港市',
			offset:[59.5,93],
		},
		{
			name:'宿迁市',
			offset:[32,79.7],
		},
		{
			name:'南通市',
			offset:[85.7,21.3],
		}
	];
	function getCityPositionByName(name){
		for(var i = 0;i < cityPositionData.length;i++){
			if(cityPositionData[i].name == name){
				return cityPositionData[i].offset
			}	
		}
	}
	
	export default{
		data(){
			let that = this;
			return{
				grossIndustrialOutputData:{
					year:'2017',
					value:0
				},
				governmenSupportData:{
					year: 2017,
					value: 1612,
					rate: 8.97,
					rateCompare:0
				},
				innovationAbilityData:{
					id: 1,
					year: 2018,
					patent: 0,
					input_value: 0,
					input_rate: 0
				},
				protectionData:[],
				
				grossIndustrialOutputChart:{},
				grossIndustrialOutputChartOption:{
					xAxis: {
						show:false,
						max:100,
						min:0,
					},
					yAxis: {
						show:false,
						max:100,
						min:0,
					},
					series:[]
				},
				
				humanResourceChart:{},
				humanResourceChartOption:{
					grid:{
						show:true,  
						borderColor:"transparent",
						backgroundColor:'#2c3c60',
						left:40,
						right:40,
						top:30,
						bottom:40
					},
					legend: {
						data: ['主营业务收入', '利润总额', '从业人员增速'],
						itemWidth:15,
						itemHeight:5,
						bottom:0,
						textStyle:{
							color:'#e8e9ee',
							fontSize:10
						}
					},	
					tooltip: {
						trigger: 'axis',
						axisPointer: {
							type: 'cross',
							label: {
								backgroundColor: '#e2c792'
							}
						}
					},
					xAxis: {
						type: 'category',
						data:[],
						axisLabel: {
							interval: 0,
								textStyle: {
								color: '#e8e9ee',
								fontSize:10
							}
						},
						axisLine:{
							lineStyle:{
								color:'#6e82a7',
							}
						},
						axisTick:{
							show:false,
						},
						max:2,
					},
					yAxis: [
						{
							name:'亿元',
							type: 'value',
							scale: true,
							nameTextStyle:{
								color:'#e8e9ee',
								fontSize:10
							},
							axisLabel : {
								textStyle: {
									color: '#e8e9ee',
									fontSize:10
								}
							},
							axisLine:{
								lineStyle:{
									color:'#6e82a7',
								}
							},
							splitLine: {
								lineStyle: {
									color: '#405074',
									type:'dashed'
								}
							},
							axisTick:{
								show:false
							},
						},	
						{
							type: 'value',
							scale: true,
							minInterval:0,
							axisLabel : {
								textStyle: {
									color: '#e8e9ee',
									fontSize:9
								},
								formatter: function(value){
									if(value == 0){
										return '0.00%'
									}
									return value + '%'
								}
							},
							axisLine:{
								show:false
							},
							splitLine: {
								show:false
							},
							axisTick:{
								show:false
							}
						}
					],
					series:[],	
				},
				
				economicPerformanceChart:{},
				economicPerformanceChartOption:{
					grid:{
						show:true,  
						borderColor:"transparent",
						backgroundColor:'#2c3c60',
						left:40,
						right:30,
						top:30,
						bottom:40
					},
					legend: {
						itemWidth:20,
						itemHeight:5,
						bottom:0,
						textStyle:{
							color:'#e8e9ee',
							fontSize:10
						}
					},
					xAxis: {
						type: 'category',
						axisLabel: {
							interval: 0,
					        textStyle: {
					            color: '#e8e9ee',
								fontSize:10
					        }
					    },
						axisLine:{
							lineStyle:{
								color:'#6e82a7',
							}
						},
						axisTick:{
							show:false,
							
						},
						data:[],
						max:2,
						
					},
					yAxis: {
						name:'亿元',
						nameTextStyle:{
							color:'#e8e9ee',
							fontSize:10
						},
						axisLabel : {
						    textStyle: {
						        color: '#e8e9ee',
								fontSize:10
						    }
						},
						axisLine:{
							lineStyle:{
								color:'#6e82a7',
							}
						},
						splitLine: {
							lineStyle: {
								color: '#405074',
								type:'dashed'
							}
						},
						axisTick:{
							show:false
						},
					},
					series:[]
				},
				
				overallSituationBarChart:{},
				overallSituationBarChartOption:{
					title: {
						text: '',
						x: 'center',
						y: 'center',
						textStyle: {
							fontSize:14,
							fontWeight:'normal',
							color: 'white'
						}
					},
					legend:{
						data:[],
						show: true,
						selectedMode:false,
						itemWidth:8,
						itemHeight:8,
						icon:'circle',
						textStyle :{
							color:'white',
							fontSize:10
						},
						bottom:-5
					},
					series: []
				},
				
				innovationAbilityChart:{},
				innovationAbilityChartOption:{},
				governmenSupportChart:{},
				governmenSupportChartOption:{}
			}
		},
		mounted() {
			this.getGrossIndustrialOutput();
			this.getOverallSituationData();
			this.getInnovationAbilityData();
			this.getGovernmenSupportData();
			this.getHumanResourceData();
			this.getEconomicPerformanceData();
			this.getEnvironmentalProtectionData();
			window.onresize = () => {
			 return (() => {
			   this.handleLableWidth();
			 })()

		   }
		},
		methods:{
			//获取工业总产值数据
			getGrossIndustrialOutput(){
				let that = this;
				return new Promise((resolve, reject) => {
				  getGrossIndustrialOutput().then(res => {
					if(res.data.code == 0){
						that.handleGrossIndustrialOutputChartData(res.data.object);
					}
				    resolve()
				  }).catch(err => {
				    reject(err)
				  })
				})
			},
			handleGrossIndustrialOutputChartData(list){
				if(list == null){
					return;
				}
				var datas = [];
				var effectDatas = [];
				var totalValue = 0
				for(var i = 0;i < list.length;i++){
					totalValue += list[i].value
					if(i >= cityPositionData.length){
						break;
					}
					var value = getCityPositionByName(list[i].city);
					var symbolSize = list[i].value / 1000;
					var item = {
						symbolSize: symbolSize,
						value: value,
						itemStyle: {
							normal: {
								color: '#f4c263'
							}
						},
					}
					if(list[i].value > 10000){
						var effectitem = {
							symbolSize: symbolSize,
							value: value,
						}
						effectDatas.push(effectitem);
					}
					datas.push(item)
				}
				this.grossIndustrialOutputData.value = totalValue
				this.resetGrossIndustrialOutputChartOption(datas,effectDatas);
			},
			resetGrossIndustrialOutputChartOption(datas,effectDatas){
				this.grossIndustrialOutputChartOption.series =[
					{
						type: 'scatter',
						symbol: 'circle',
						label: {
							show: false
						},
						data: datas	
					},
					{
						type: 'effectScatter',
						showEffectOn: 'render',
						rippleEffect: {
							brushType: 'stroke'
						},
						hoverAnimation: true,
						symbol: 'circle',
						label: {
							show: false
						},
						itemStyle: {
							normal: {
								color: '#f4c263',
								shadowBlur: 10,
								shadowColor: '#f4c263'
							}
						},
						zlevel: 1,
						data: effectDatas
					}	
				]	 
				this.drawGrossIndustrialOutputChart()
			},
			
			//总体情况
			getOverallSituationData(){
				let that = this;
				return new Promise((resolve, reject) => {
				  getOverallSituationData().then(res => {
					if(res.data.code == 0){
						that.handleOverallSituationData(res.data.object);
					}
				    resolve()
				  }).catch(err => {
				    reject(err)
				  })
				})
			},
			handleOverallSituationData(list){
				var xAxisData = [];
				var seriesData = [];
				var colorList = ['rgb(11,121,182)','rgb(166,96,71)','rgb(163,139,95)']
				var borderColorList = ['#65aad4','#b9a5a7','#b7a076']
				for(var i=0;i<list.length;i++){
					xAxisData.push(list[i].name);
					for(var j = 0;j< list[i].object.length;j++){
						if(i == 0){
							var seriesDataItem = {
								name : '',
								type:'bar',
								data:[],
								barCategoryGap:35,
								itemStyle:{
									normal:{
										color:colorList[j],
										opacity:0.6,
										borderWidth:1,
										borderColor:borderColorList[j],
										barBorderRadius:[2,2,0,0,]
									}
								}
							}
							seriesData.push(seriesDataItem)
							seriesData[j].data.push(list[i].object[j].income)
						}else{
							seriesData[j].data.push(list[i].object[j].value)
						}
						seriesData[j].name = list[i].object[j].year
					}
				}
				this.createOverallSituationOption(xAxisData,seriesData);
			},
			createOverallSituationOption(xAxisData,seriesData){
				this.overallSituationBarChartOption={
					legend: {
						itemWidth:15,
						itemHeight:5,
						right:20,
						textStyle:{
							color:'#e8e9ee',
							fontSize:10
						}
					},
					grid:{
						show:true,  
						borderColor:"transparent",
						backgroundColor:'#2c3c60',
						left:40,
						right:30,
						top:30,
						bottom:30
					},
					xAxis: [{
						type: 'category',
						data: xAxisData,
						axisLabel: {
							interval: 0,
						    textStyle: {
						        color: '#e8e9ee',
								fontSize:10
						    }
						},
						axisLine:{
							lineStyle:{
								color:'#6e82a7',
							}
						},
						axisTick:{
							show:false,
							
						}
					}],
					yAxis: [{
						type: 'value',
						name:'亿元',
						nameTextStyle:{
							color:'#e8e9ee',
							fontSize:10
						},
						axisLabel : {
						    textStyle: {
						        color: '#e8e9ee',
								fontSize:10
						    }
						},
						min:0,
						axisLine:{
							lineStyle:{
								color:'#6e82a7',
							}
						},
						splitLine: {
							lineStyle: {
								color: '#405074',
								type:'dashed'
							}
						},
						axisTick:{
							show:false
						},
					}],
					series: seriesData
				}
				this.drawLine()
			},
			
			//创新能力
			getInnovationAbilityData(){
				let that = this;
				return new Promise((resolve, reject) => {
				  getInnovationAbilityData().then(res => {
					if(res.data.code == 0 && res.data.object != null && res.data.object.length > 0){
						var dataObject = res.data.object[0]
						that.createInnovationAbilityOption(dataObject)
					}
				    resolve()
				  }).catch(err => {
				    reject(err)
				  })
				})
			},
			createInnovationAbilityOption(data){
				this.innovationAbilityData = data
				this.innovationAbilityChartOption = {
					title: {
						text: '同比增长',
						subtext: data.input_rate + '%',
						x: 'center',
						y: 'center',
						textStyle: {
							fontSize:14,
							fontWeight:'normal',
							color: 'white'
						},
						subtextStyle: {
							color: 'white',
							fontSize: 14
						},	
					},
					legend:{
						show: false,
					},
					series: [
						{	
							type: 'pie',
							z:0,
							clockWise: true,
							hoverAnimation: false, 
							legendHoverLink : false,
							radius: ['75%','81%'],
							emphasis :{
								itemStyle :{
									color:"#3b4872"
								}
							},
							center: ["50%", "50%"],
							label: {
								show: false
							},
							itemStyle: {
								label: {
									show: false,
								},
								labelLine: {
									show: false
								},
							},
							data: [{
								value: 100,
								itemStyle: {
									color: "#3b4872",
									borderWidth: 6,
									borderColor: "#3b4872"
								},
								tooltip: {
									show: false
								}
							}]
						},		
							{
								type: 'pie',
								z:1,
								silent: true,
								clockWise: true,
								hoverAnimation: false,
								radius: ['75%','81%'],
								center: ["50%", "50%"],
								label: {
									show: false
								},
								itemStyle: {
									label: {
										show: false,
									},
									labelLine: {
										show: false
									},
								},
								data: [
									{
										value: data.input_rate,
										itemStyle: {
											color: "#ff864a",
											borderWidth: 6,
											borderColor: "#ff864a"
										},
										tooltip: {
											show: true
										},
									}, 
									{
										value: 100-data.input_rate,
										name: '',
										itemStyle: {
											color: "transparent",
										},
										tooltip: {
											show: false
										},
									},
								]
							}	
						]
				}
				this.drawInnovationAbilityChart()
			},
			
			//政府支持
			getGovernmenSupportData(){
				let that = this;
				return new Promise((resolve, reject) => {
				  getGovernmenSupportData().then(res => {
					if(res.data.code == 0 && res.data.object != null && res.data.object.length > 0){
						var dataObject = res.data.object
						that.handleGovernmenSupportData(dataObject)
					}
				    resolve()
				  }).catch(err => {
				    reject(err)
				  })
				})
			},
			handleGovernmenSupportData(data){
				var seriesData = [];
				var colorData = ['#ff864a','#d6794d','#c9a45d','#896e42'];
				var offsetLeft = 50;
				var offsetRight = 54;
				var legendData = [];
				var trueRate =  data[0].rate;
				this.governmenSupportData.year = data[0].year;
				this.governmenSupportData.value = data[0].value;
				this.governmenSupportData.rate = data[0].rate;
				
				if(this.governmenSupportData.rate < 0){
					this.governmenSupportData.rate = '下降' + (-this.governmenSupportData.rate)
				}
				this.governmenSupportData.rateCompare = data[0].rate - data[1].rate
				if(this.governmenSupportData.rateCompare < 0){
					this.governmenSupportData.rateCompare = '下降' + (-this.governmenSupportData.rateCompare)
				}
				
				seriesData.push({	
					type: 'pie',
					z:0,
					clockWise: true,
					hoverAnimation: false, 
					legendHoverLink : false,
					radius: ['50%','54%'],
					emphasis :{
						itemStyle :{
							color:"#3b4872",
							
						}
					},
					center: ["50%", "45%"],
					label: {
						show: false
					},
					itemStyle: {
						label: {
							show: false,
						},
						labelLine: {
							show: false
						},
					},
					data: [{
						value: 100,
						itemStyle: {
							color: "#3b4872",
							borderWidth: 6,
							borderColor: "#3b4872"
						},
						tooltip: {
							show: false
						}
					}]
				})
				for(var i=0;i<data.length;i++){
					legendData.push(data[i].year)
					var clockWiseValue = true;
					var minAngle = 0
					if(data[i].rate < 0){
						data[i].rate = -data[i].rate
						clockWiseValue = false
						minAngle = 18
					}
					var item = {
						type: 'pie',
						z:1,
						silent: true,
						minAngle:minAngle,
						clockWise: clockWiseValue,
						hoverAnimation: false,
						radius: [offsetLeft-i*9 +'%', offsetRight-i*9 +'%'],
						center: ["50%", "45%"],
						label: {
							show: false
						},	
						itemStyle: {
							label: {
								show: false,
							},
							labelLine: {
								show: false
							},
						},	
						data: [
							{	
								name:data[i].year,
								value: data[i].rate,
								itemStyle: {
									color: colorData[i],
									borderWidth: 6,
									borderColor: colorData[i]
								},
								tooltip: {
									show: true
								},
							}, 
							{
								value: 100 - data[i].rate,
								name: '',
								itemStyle: {
									color: "transparent",
								},
								tooltip: {
									show: false
								},
							},
						]	
					}
					seriesData.push(item)
				}
				this.createGovernmenSupportOption(legendData,seriesData,trueRate)
			},
			createGovernmenSupportOption(legendData,seriesData,trueRate){
				this.governmenSupportChartOption={
					title: {
						text: trueRate + '%',
						x: 'center',
						y: 'center',
						textStyle: {
							fontSize:14,
							fontWeight:'normal',
							color: 'white'
						},
						subtext:'\n\n\n\n\n\n\n\n政府性基金预算增速',
						subtextStyle:{
							color:'white',
							fontSize:14
						}
					},
					grid:{
						bottom:0
					},
					legend:{
						data:legendData,
						show: true,
						selectedMode:false,
						itemWidth:8,
						itemHeight:8,
						icon:'circle',
						textStyle :{
							color:'white',
							fontSize:10
						},
						bottom:2
					},
					series: seriesData
				}
				this.drawGovernmenSupportChart()
			},
			
			//人力资源
			getHumanResourceData(){
				let that = this;
				return new Promise((resolve, reject) => {
				  getHumanResourceData().then(res => {
					if(res.data.code == 0 && res.data.object != null && res.data.object.length > 0){
						var dataObject = res.data.object
						that.handleHumanResourceData(dataObject)
					}
				    resolve()
				  }).catch(err => {
				    reject(err)
				  })
				})
			},
			handleHumanResourceData(data){
				var seriesData = [];
				var xData = [];
				var mianIncomeItem = {
					name: '主营业务收入',
					type: 'bar',
					barCategoryGap:35,
					label: {
						show: false
					},
					yAxisIndex: 0,
					data: [],
					itemStyle: {   
						normal:{  
							color:'rgb(11,121,182)',
							opacity:0.6,
							borderWidth:1,
							borderColor:'#65aad4',
							barBorderRadius:[2,2,0,0,]
						}
					}
				}
				for(var i = 0;i<data[0].object.length;i++){
					xData.push(data[0].object[i].year)
					mianIncomeItem.data.push(data[0].object[i].income)
				}
				seriesData.push(mianIncomeItem)
				var profitItem = {
					
					name: '利润总额',
					type: 'bar',
					label: {
						show: false
					},
					yAxisIndex: 0,
					barCategoryGap:35,
					data: [],
					itemStyle: {   
						normal:{  
							color: 'rgb(166,96,71,0.6)',
							borderWidth:1,
							borderColor:'#b9a5a7',
							barBorderRadius:[2,2,0,0,]
						}
					}
				}
				for(var i = 0;i<data[1].object.length;i++){
					profitItem.data.push(data[1].object[i].value)
				}
				seriesData.push(profitItem)
				var growthRateItem = {
					name: '从业人员增速',
					type: 'line',
					label: {
						show: false
					},
					yAxisIndex: 1,
					data: [],
					lineStyle:{
						color:"#e2c792"
					},
					itemStyle:{
						color:"#e2c792"
					},
				}
				for(var i = 0;i<data[2].object.length;i++){
					growthRateItem.data.push(data[2].object[i].rate)
				}
				seriesData.push(growthRateItem)
				this.humanResourceChartOption.xAxis.data = xData
				this.humanResourceChartOption.series=seriesData
				this.drawHumanResourceChart()
			},
			
			//经济效益
			getEconomicPerformanceData(){
				let that = this;
				return new Promise((resolve, reject) => {
				  getEconomicPerformanceData().then(res => {
					if(res.data.code == 0 && res.data.object != null && res.data.object.length > 0){
						var dataObject = res.data.object
						that.handleEconomicPerformanceData(dataObject)
					}
				    resolve()
				  }).catch(err => {
				    reject(err)
				  })
				})
			},
			handleEconomicPerformanceData(data){
				var seriesData = [];
				var xData = [];
				var oneItem = {
					name: '税金总额',
					type: 'bar',
					barCategoryGap:35,
					label: {
						show: false
					},
					yAxisIndex: 0,
					data: [],
					itemStyle: {   
						normal:{  
							color:'rgb(11,121,182)',
							opacity:0.6,
							borderWidth:1,
							borderColor:'#65aad4',
							barBorderRadius:[2,2,0,0,]
						}
					}
				}
				for(var i=0;i<data[1].object.length;i++){
					xData.push(data[1].object[i].year)
					oneItem.data.push(data[1].object[i].value)
				}
				
				seriesData.push(oneItem)
				var twoItem = {
					name: '利润总额',
					type: 'bar',
					barCategoryGap:35,
					label: {
						show: false
					},
					yAxisIndex: 0,
					data: [],
					itemStyle: {   
						normal:{  
							color: 'rgb(166,96,71)',
							borderWidth:1,
							opacity:0.6,
							borderColor:'#b9a5a7',
							barBorderRadius:[2,2,0,0,]
						}
					}
				}
				for(var i=0;i<data[0].object.length;i++){
					twoItem.data.push(data[0].object[i].value)
				}
				seriesData.push(twoItem)
				this.economicPerformanceChartOption.xAxis.data = xData
				this.economicPerformanceChartOption.series = seriesData
				this.drawEconomicPerformanceChart()
			},
			
			//节能环保
			getEnvironmentalProtectionData(){
				let that = this;
				return new Promise((resolve, reject) => {
				  getEnvironmentalProtectionData().then(res => {
					if(res.data.code == 0 && res.data.object != null && res.data.object.length > 0){
						that.handleEnvironmentalProtectionData(res.data.object)
					}
				    resolve()
				  }).catch(err => {
				    reject(err)
				  })
				})
			},
			handleEnvironmentalProtectionData(data){
				var protectionData = [];
				for(var i=0;i<data[0].object.length;i++){
					var item = data[0].object[i];
					item.year = item.year + '年';
					protectionData.unshift(item)
				}
				for(var i=data[1].object.length-1;i>=0;i--){
					var v = data[1].object[i]
					var item = {};
					item.year = '同比增长率（' +  v.year + '）'
					item.coal_value = v.coal_rate+'%'
					item.electricity_value = v.electricity_rate+'%'
					item.waterValue = v.water_rate+'%'
					protectionData.push(item)
				}
				console.log(protectionData)
				this.protectionData = protectionData
			},
			handleLableWidth(){
				this.grossIndustrialOutputChart.resize();
				this.overallSituationBarChart.resize();
				this.innovationAbilityChart.resize();
				this.governmenSupportChart.resize();
				this.economicPerformanceChart.resize();
				this.humanResourceChart.resize();
			},
			
			drawLine() {
			  let that = this;
			  this.overallSituationBarChart = echarts.init(document.getElementById('myChart'))
			  this.overallSituationBarChart.setOption(this.overallSituationBarChartOption,true);
			  // this.overallSituationBarChart.on('click', function(params) {
				//   window.console.log(params);
				//   if (params.name == "主营业务收入"){
               //        that.$router.push({
               //            name: "industrySituation"
               //        })
				//   }
			  // });
			},
			drawInnovationAbilityChart(){
				this.innovationAbilityChart = echarts.init(document.getElementById('innovation_ability_charts'))
				this.innovationAbilityChart.setOption(this.innovationAbilityChartOption,true);
			},
			drawGovernmenSupportChart(){
				this.governmenSupportChart = echarts.init(document.getElementById('governmen_support_chart'))
				this.governmenSupportChart.setOption(this.governmenSupportChartOption,true);
			},
			drawEconomicPerformanceChart(){
				this.economicPerformanceChart = echarts.init(document.getElementById('economic_performance_chart'))
				this.economicPerformanceChart.setOption(this.economicPerformanceChartOption,true);
			},
			drawHumanResourceChart(){
				this.humanResourceChart = echarts.init(document.getElementById('human_resource_chart'))
				this.humanResourceChart.setOption(this.humanResourceChartOption,true);
			},
			drawGrossIndustrialOutputChart(){
				this.grossIndustrialOutputChart = echarts.init(document.getElementById('gross_industrial_output_chart'))
				this.grossIndustrialOutputChart.setOption(this.grossIndustrialOutputChartOption,true);
			}
		},
	}
</script>

<style>
	@import './industry.less';
</style>
