<template>
	<div class="area_layout">
		<Row type="flex" class="area_row_layout">
			<Col span="8"  class="area_col_layout">
				<div class="area_col_item_top_layout">
					<label class="area_col_item_label">区域生产总值</label>
					<div class="area_col_item_common_chart_layout" id="area_income_chart">
						
					</div>
				</div>
				
				<div class="area_col_item_bottom_layout">
					<label class="area_col_item_label">大中型企业</label>
					<div class="area_col_item_common_bottom_chart_layout" id="large_and_medium_enterprises_chart">
						
					</div>
				</div>
			</Col>
			<Col span="8"  class="area_col_layout">
				<div class="area_col_item_top_layout">
					<label class="area_col_item_label">企业工业总产值</label>
					<label class="gross_industrial_output_value_of_enterprises_title">单位（亿元）</label>
					<div class="area_col_item_common_bottom_chart_layout" id="gross_industrial_output_value_of_enterprises_chart">
						
					</div>
				</div>
				
				<div class="area_col_item_bottom_layout">
					<label class="area_col_item_label">国有及国有控股企业</label>
					<div class="area_col_item_common_bottom_chart_layout" id="state_owned_holding_enterprises_chart">
						
					</div>
				</div>
			</Col>
			<Col span="8"  class="area_col_layout">
				<div class="area_col_item_top_layout">
					<label class="area_col_item_label">促进企业发展情况</label>
					<div class="area_col_item_common_chart_layout">
						<div class="enterprise_development_layout">
							<div class="enterprise_development_item_chart" id="enterprise_development_item_chart">
								
							</div>
							<div class="enterprise_development_item_chart" id="enterprise_development_item_right_chart">
								
							</div>
						</div>
						
						<div class="enterprise_development_top_label_layout">
							<div class="enterprise_development_top_label_content_layout">
								<label class="enterprise_development_bottom_label">大中型工业企业数量</label>
							</div>
							<div class="enterprise_development_top_label_content_layout">
								<label class="enterprise_development_bottom_label">大中型工业企业数量增速</label>
							</div>
						</div>
						
						<div class="enterprise_development_bottom_label_layout">
							<label class="enterprise_development_bottom_label">截止{{enterpriseDevelopmentData.year}}年，南京市大中型工业企业数量共计</label>
							<label class="enterprise_development_bottom_label_value">{{enterpriseDevelopmentData.enterpriseCount}}</label>
							<label class="enterprise_development_bottom_label">家。</label>
						</div>
					</div>
				</div>
				
				<div class="area_col_item_bottom_layout">
					<label class="area_col_item_label">私营企业</label>
					<div class="area_col_item_common_bottom_chart_layout" id="private_enterprise_chart">
						
					</div>
				</div>
			</Col>
		</Row>
	</div>
</template>

<script>
	
	let echarts = require('echarts/lib/echarts')
	require('echarts/lib/chart/bar')
	require("echarts/lib/chart/pie")
	require("echarts/lib/chart/line")
	require("echarts/lib/chart/gauge");
	require('echarts/lib/component/tooltip')
	require('echarts/lib/component/title')
	require("echarts/lib/component/legend");


    import {
        areaIncomeList,
        largeandmediumEnterprises,
        stateOwnedorHoldingEnterprises,
        privateEnterprise
    } from '@/api/data'


    var areaIncomeData = [
        {   value:2628,
            name:'江宁区',
            itemStyle: {
                color: '#36a2da',
            }
        },
        {   value:1211,
            name:'鼓楼区',
            itemStyle: {
                color: '#68e0e3',
            }
        },
        {	value:885,
            name:'栖霞区',
            itemStyle: {
                color: '#a0e6b8',
            }
        },
        {	value:936,
            name:'秦淮区',
            itemStyle: {
                color: '#ffdb5d',
            }
        },
        {	value:949,
            name:'玄武区',
            itemStyle: {
                color: '#ff9f7f',
            }
        },
        {	value:1198,
            name:'溧水区',
            itemStyle: {
                color: '#e062ae',
            }
        },
        {	value:849,
            name:'高淳区',
            itemStyle: {
                color: '#e690d1',
            }
        },
        {	value:980,
            name:'建邺区',
            itemStyle: {
                color: '#9d96f5',
            }
        },
        {	value:1399,
            name:'六合区',
            itemStyle: {
                color: '#8378ea',
            }
        },
        {	value:1797,
            name:'浦口区',
            itemStyle: {
                color: '#96bfff',
            }
        }

    ]

    let areas = ['玄武区','秦淮区','建邺区','鼓楼区','浦口区','栖霞区','江宁区','六合区', '溧水区','高淳区']
	
	export default {
		data(){
			return{

                qiyetotal: {
                    stateValue: 400,
                    privateValue: 600
				},

                enterpriseDevelopmentData: {
                    year: 2017,
                    enterpriseCount: 100,
                    enterpriseCountLastyear: 100,
                    enterpriseCountStr: '100',
                    growthRate: 0.1,
                    growthRateCompare: 0.1,
					growthRateStr: '10%',
                    clockWise: false

				},

                arrayData:[],
                stateArrayData:[],
                privateArrayData:[],


				enterpriseDevelopmentItemRightChart:{},
				enterpriseDevelopmentItemRightChartOption:{},

				enterpriseDevelopmentItemChart:{},
				enterpriseDevelopmentItemChartOption:{},
				
				
				privateEnterpriseChart:{},
				privateEnterpriseChartOption:{},
				
				stateOwnedHoldingEnterprisesChart:{},
				stateOwnedHoldingEnterprisesChartOption:{},
				
				largeAndMediumEnterprisesChart:{},
                largeAndMediumEnterprisesChartOption:{},

				
				grossIndustrialOutputValueOfEnterprisesChart:{},
				grossIndustrialOutputValueOfEnterprisesChartOption:{},
				
				areaIncomeChart:{},
				areaIncomeChartOption:{}
			}
		},

        computed:{
            sortArrayData:function(){
                return sortByKey(this.arrayData,'year')
            },
            sortStateArrayData:function(){
                return sortByKey(this.stateArrayData,'year')
            },
            sortPrivateArrayData:function(){
                return sortByKey(this.privateArrayData,'year')
            },
        },



		mounted() {
            this.getAreaIncomeList(0);
            this.getLargeandmediumEnterprises();
            this.getStateOwnedorHoldingEnterprises();
            this.getPrivateEnterprise();


            setTimeout(() => {
                this.getGrossIndustrialOutputValueOfEnterprises(2017)
            },200)

            setTimeout(() => {
                this.getEnterpriseDevelopmentItem(2017);
            },200)


			//this.drawAreaIncomeChart();
			//this.drawGrossIndustrialOutputValueOfEnterprisesChart();
			//this.drawLargeAndMediumEnterprisesChart();
			//this.drawStateOwnedHoldingEnterprisesChart();
			//this.drawPrivateEnterpriseChart();
			// this.drawEnterpriseDevelopmentItemChart();
			// this.drawEnterpriseDevelopmentItemRightChart();
		},
		methods:{
            //获取区域销售收入数据
            getAreaIncomeList(year){
                let that = this;
                return new Promise((resolve, reject) => {
                    areaIncomeList(year).then(res => {
                        if(res.data.code == 0){
                            //window.console.log(res.data.object);
                            that.handleAreaIncomeData(res.data.object);
                        }
                        resolve()
                    }).catch(err => {
                        reject(err)
                    })
                })
            },
            handleAreaIncomeData(list) {
                // if(list == null){
                //     return;
                // }
                //
                // for(var i = 0;i < list.length;i++){
                //     if(i >= areaIncomeData.length){
                //         break;
                //     }
                //     for(var j = 0;j < areaIncomeData.length;j++){
                //         if(areaIncomeData[j].name == list[i].region){
                //             areaIncomeData[j].value = list[i].value
                //         }
                //     }
                // }

                if(list == null){
                    return;
                }

                var dimensionsArray = [];
                dimensionsArray.push('product');
                for(var i = 0;i < list.length;i++){
                    if(i >= areas.length){
                        break;
                    }
                    if(list[i].region == "江宁区" && list[i].year != 2015){
                        dimensionsArray.push(list[i].year.toString());
                    }
                }

                var sourceArray = [];
                for(var j = 0;j < areas.length;j++){
                    var sourceItemArray = [];
                    sourceItemArray.push(areas[j])
                    for(var k = 0;k < list.length;k++){
                        if(list[k].region == areas[j] && list[k].year != 2015){
                            sourceItemArray.push(list[k].value)
                        }
                    }
                    sourceArray.push(sourceItemArray);
                }
                this.createAreaIncomeChartOption(dimensionsArray, sourceArray);
            },
            createAreaIncomeChartOption(dimensionsArray, sourceArray){
                this.areaIncomeChartOption = {
                //     title:{
                //         show:false
                //     },
                //     tooltip : {
                //         show:false,
                //     },
                //     legend: {
                //         show:false
                //     },
                //     series : [
                //         {
                //             name: '部门使用情况',
                //             type: 'pie',
                //             radius : '70%',
                //             center: ['50%', '50%'],
                //
                //             label:{
                //                 normal: {
                //                     color:'white',
                //                     fontSize:8,
                //                     show:true,
                //                     formatter: '{b}\n{d}%',
                //                 }
                //             },
                //             labelLine:{
                //                 length:10,
                //                 length2:30,
                //                 lineStyle:{
                //                     type:'dotted',
                //                 }
                //             },
                //             data:areaIncomeData,
                //             itemStyle: {
                //                 emphasis: {
                //                     shadowBlur: 10,
                //                     shadowOffsetX: 0,
                //                     shadowColor: 'rgba(0, 0, 0, 0.5)'
                //                 }
                //             }
                //         }
                //     ]
                    grid:{
                        show:true,
                        borderColor:"transparent",
                        backgroundColor:'#2c3c60',
                        top:30,
                        bottom:50,
                        right:10,
                        left:50,
                    },
                    legend: {
                        itemWidth:15,
                        itemHeight:10,
                        bottom: 1,
                        textStyle:{
                            color:'#e8e9ee',
                            fontSize:10
                        }
                    },
                    tooltip: {
                        trigger:'item'
                    },
                    dataset: {
                        dimensions: dimensionsArray,
                        source: sourceArray
                    },
                    xAxis: {
                        type: 'category',
                        axisLabel: {
                            interval: 0,
                            textStyle: {
                                color: '#e8e9ee',
                                fontSize:10
                            }
                        },
                        axisLine:{
                            lineStyle:{
                                color:'#6e82a7',
                            }
                        },
                        axisTick:{
                            show:false,

                        }
                    },
                    yAxis: {
                        name:'亿元',
                        min:0,
                        max:3500,
                        minInterval:1,
                        splitNumber:6,
                        nameTextStyle:{
                            color:'#e8e9ee',
                            fontSize:10
                        },
                        axisLabel : {
                            textStyle: {
                                color: '#e8e9ee',
                                fontSize:10
                            }
                        },
                        axisLine:{
                            lineStyle:{
                                color:'#6e82a7',
                            }
                        },
                        splitLine: {
                            lineStyle: {
                                color: '#405074',
                                type:'dashed'
                            }
                        },
                        axisTick:{
                            show:false
                        },
                    },
                    series: [
                        {
                            type: 'bar',
                            itemStyle: {
                                normal:{
                                    color: function (params){
                                        var colorList = ['#107ebd','#107ebd','#107ebd'];
                                        return colorList[params.dataIndex];
                                    },
                                    borderColor:'#53abbd',
                                    borderType:'solid',
                                    borderWidth: 1,
                                    barBorderRadius: [2, 2, 0, 0],
                                    opacity: 0.7
                                }
                            },
                            emphasis :{
                                itemStyle :{
                                    color:"#107ebd"
                                }
                            },

                        },
                        {
                            type: 'bar',
                            itemStyle: {
                                normal:{
                                    color: function (params){
                                        var colorList = ['#a8684d','#a8684d','#a8684d'];
                                        return colorList[params.dataIndex];
                                    },
                                    borderColor:'#a88d7a',
                                    borderType:'solid',
                                    borderWidth: 1,
                                    barBorderRadius: [2, 2, 0, 0],
                                    opacity: 0.7
                                }
                            },
                            emphasis :{
                                itemStyle :{
                                    color:"#a8684d"
                                }
                            },
                        }
                    ]
				}

                this.drawAreaIncomeChart();

            },

            //大中型企业数据获取
            getLargeandmediumEnterprises(){
                let that = this;
                return new Promise((resolve, reject) => {
                    largeandmediumEnterprises().then(res => {
                        if(res.data.code == 0){
                            window.console.log("大中型企业");
                            window.console.log(res.data.object);
                            that.arrayData = res.data.object;
                            that.handleLargeandmediumEnterprisesData(that.sortArrayData);
                        }
                        resolve()
                    }).catch(err => {
                        reject(err)
                    })
                })
            },
            handleLargeandmediumEnterprisesData(list){
                if(list == null){
                    return;
                }
                var rateDatas = [];
                var yearDatas = [];
                var totalizeDatas = [];
                for(var i = 0;i < list.length;i++){

                    var year = list[i].year;
                    yearDatas.push(year)
                    var totalize = list[i].totalize;
                    totalizeDatas.push(totalize)
                    var rate = list[i].rate;
                    rateDatas.push(rate)
                }

                this.createLargeandmediumEnterprisesChartOption(yearDatas,totalizeDatas,rateDatas);

            },
            createLargeandmediumEnterprisesChartOption(yearDatas,totalizeDatas,rateDatas){
                this.largeAndMediumEnterprisesChartOption = {
                    grid:{
                        show:false,
                            borderColor:"transparent",
                            backgroundColor:'#2c3c60',
                            left:40,
                            right:40,
                            top:30,
                            bottom:40
                    },
                    legend: {
                        data: ['工业总产值', '工业总产值增速'],
                            itemWidth:18,
                            itemHeight:6,
                            bottom:-5,
                            textStyle:{
                            color:'#e8e9ee',
                                fontSize:10
                        }
                    },
                    tooltip: {
                        trigger: 'axis',
                            axisPointer: {
                            type: 'cross',
                                label: {
                                backgroundColor: '#e2c792'
                            }
                        }
                    },
                    xAxis: {
                        type: 'category',
                            axisLabel: {
                            interval: 0,
                                textStyle: {
                                color: '#e8e9ee',
                                    fontSize:10
                            }
                        },
                        axisLine:{
                            lineStyle:{
                                color:'#6e82a7',
                            }
                        },
                        axisTick:{
                            show:false,

                        },
                        max:2,
                            data:yearDatas,
                    },
                    yAxis: [
                        {
                            name:'亿元',
                            type: 'value',
                            scale: true,
                            min: 0,
                            nameTextStyle:{
                                color:'#e8e9ee',
                                fontSize:10
                            },
                            axisLabel : {
                                textStyle: {
                                    color: '#e8e9ee',
                                    fontSize:10
                                }
                            },
                            axisLine:{
                                lineStyle:{
                                    color:'#6e82a7',
                                }
                            },
                            splitLine: {
                                lineStyle: {
                                    color: '#405074',
                                    type:'dashed'
                                }
                            },
                            axisTick:{
                                show:false
                            },
                        },
                        {
                            type: 'value',
                            scale: true,
                            minInterval:1,
                            axisLabel : {
                                textStyle: {
                                    color: '#e8e9ee',
                                    fontSize:10
                                },
                                formatter: '{value} %'
                            },
                            axisLine:{
                                show:false
                            },
                            splitLine: {
                                show:false
                            },
                            axisTick:{
                                show:false
                            }
                        }
                    ],
                        series: [
                        {
                            name: '工业总产值',
                            type: 'bar',
                            barCategoryGap:85,
                            label: {
                                show: false
                            },
                            yAxisIndex: 0,
                            data: totalizeDatas,
                            itemStyle: {
                                normal:{
                                    color: function (params){
                                        var colorList = ['#0a79b5','#0a79b5','#0a79b5'];
                                        return colorList[params.dataIndex];
                                    },
                                    borderColor:'#3794b5',
                                    borderType:'solid',
                                    borderWidth: 1,
                                    barBorderRadius: [5, 5, 0, 0],
                                    opacity: 0.7
                                },


                            },
                            barWidth: 30,
                        },
                        {
                            name: '工业总产值增速',
                            type: 'line',
                            label: {
                                show: false
                            },
                            yAxisIndex: 1,
                            data: rateDatas,
                            lineStyle:{
                                color:"#e2c792"
                            },
                            itemStyle:{
                                color:"#e2c792"
                            }
                        }
                    ]
                }
                this.drawLargeAndMediumEnterprisesChart();
            },

            //国有及国有控股企业数据获取
            getStateOwnedorHoldingEnterprises(){
                let that = this;
                return new Promise((resolve, reject) => {
                    stateOwnedorHoldingEnterprises().then(res => {
                        if(res.data.code == 0){
                            window.console.log("国有及国有控股企业");
                            window.console.log(res.data.object);
                            that.stateArrayData = res.data.object;
                            that.handleStateOwnedorHoldingEnterprisesData(that.sortStateArrayData);
                        }
                        resolve()
                    }).catch(err => {
                        reject(err)
                    })
                })
            },
            handleStateOwnedorHoldingEnterprisesData(list){
                if(list == null){
                    return;
                }
                var rateDatas = [];
                var yearDatas = [];
                var totalizeDatas = [];
                for(var i = 0;i < list.length;i++){

                    var year = list[i].year;
                    yearDatas.push(year)
                    var totalize = list[i].totalize;
                    totalizeDatas.push(totalize)
                    var rate = list[i].rate;
                    rateDatas.push(rate)
                }

                this.createStateOwnedorHoldingEnterprisesChartOption(yearDatas,totalizeDatas,rateDatas);

            },
            createStateOwnedorHoldingEnterprisesChartOption(yearDatas,totalizeDatas,rateDatas){
                this.stateOwnedHoldingEnterprisesChartOption = {
                    grid:{
                        show:false,
                        borderColor:"transparent",
                        backgroundColor:'#2c3c60',
                        left:40,
                        right:40,
                        top:30,
                        bottom:40
                    },
                    legend: {
                        data: ['工业总产值', '工业总产值增速'],
                        itemWidth:18,
                        itemHeight:6,
                        bottom:-5,
                        textStyle:{
                            color:'#e8e9ee',
                            fontSize:10
                        }
                    },
                    tooltip: {
                        trigger: 'axis',
                        axisPointer: {
                            type: 'cross',
                            label: {
                                backgroundColor: '#e2c792'
                            }
                        }
                    },
                    xAxis: {
                        type: 'category',
                        axisLabel: {
                            interval: 0,
                            textStyle: {
                                color: '#e8e9ee',
                                fontSize:10
                            }
                        },
                        axisLine:{
                            lineStyle:{
                                color:'#6e82a7',
                            }
                        },
                        axisTick:{
                            show:false,

                        },
                        max:2,
                        data:yearDatas,
                    },
                    yAxis: [
                        {
                            name:'亿元',
                            type: 'value',
                            scale: true,
                            min: 0,
                            nameTextStyle:{
                                color:'#e8e9ee',
                                fontSize:10
                            },
                            axisLabel : {
                                textStyle: {
                                    color: '#e8e9ee',
                                    fontSize:10
                                }
                            },
                            axisLine:{
                                lineStyle:{
                                    color:'#6e82a7',
                                }
                            },
                            splitLine: {
                                lineStyle: {
                                    color: '#405074',
                                    type:'dashed'
                                }
                            },
                            axisTick:{
                                show:false
                            },
                        },
                        {
                            type: 'value',
                            scale: true,
                            axisLabel : {
                                textStyle: {
                                    color: '#e8e9ee',
                                    fontSize:10
                                },
                                formatter: '{value} %'
                            },
                            axisLine:{
                                show:false
                            },
                            splitLine: {
                                show:false
                            },
                            axisTick:{
                                show:false
                            }
                        }
                    ],
                    series: [
                        {
                            name: '工业总产值',
                            type: 'bar',
                            barCategoryGap:85,
                            label: {
                                show: false
                            },
                            yAxisIndex: 0,
                            data: totalizeDatas,
                            itemStyle: {
                                normal:{
                                    color: function (params){
                                        var colorList = ['#0b8594','#0b8594','#0b8594'];
                                        return colorList[params.dataIndex];
                                    },
                                    borderColor:'#106d94',
                                    borderType:'solid',
                                    borderWidth: 1,
                                    barBorderRadius: [5, 5, 0, 0],
                                    opacity: 0.7
                                },


                            },
                            barWidth: 30,
                        },
                        {
                            name: '工业总产值增速',
                            type: 'line',
                            label: {
                                show: false
                            },
                            yAxisIndex: 1,
                            data: rateDatas,
                            lineStyle:{
                                color:"#e2c792"
                            },
                            itemStyle:{
                                color:"#e2c792"
                            }
                        }
                    ]
                }

                this.drawStateOwnedHoldingEnterprisesChart()

            },

            //私有企业数据获取
            getPrivateEnterprise(){
                let that = this;
                return new Promise((resolve, reject) => {
                    privateEnterprise().then(res => {
                        if(res.data.code == 0){
                            window.console.log("私有企业");
                            window.console.log(res.data.object);
                            that.privateArrayData = res.data.object;
                            that.handlePrivateEnterpriseData(that.sortPrivateArrayData);
                        }
                        resolve()
                    }).catch(err => {
                        reject(err)
                    })
                })
            },
            handlePrivateEnterpriseData(list){
                if(list == null){
                    return;
                }
                var rateDatas = [];
                var yearDatas = [];
                var totalizeDatas = [];
                for(var i = 0;i < list.length;i++){

                    var year = list[i].year;
                    yearDatas.push(year)
                    var totalize = list[i].totalize;
                    totalizeDatas.push(totalize)
                    var rate = list[i].rate;
                    rateDatas.push(rate)
                }
                this.createPrivateEnterpriseChartOption(yearDatas,totalizeDatas,rateDatas);

            },
            createPrivateEnterpriseChartOption(yearDatas,totalizeDatas,rateDatas){
                this.privateEnterpriseChartOption = {
                    grid:{
                        show:false,
                            borderColor:"transparent",
                            backgroundColor:'#2c3c60',
                            left:40,
                            right:40,
                            top:30,
                            bottom:40
                    },
                    legend: {
                        data: ['工业总产值', '工业总产值增速'],
                            itemWidth:18,
                            itemHeight:6,
                            bottom:-5,
                            textStyle:{
                            color:'#e8e9ee',
                                fontSize:10
                        }
                    },
                    tooltip: {
                        trigger: 'axis',
                            axisPointer: {
                            type: 'cross',
                                label: {
                                backgroundColor: '#e2c792'
                            }
                        }
                    },
                    xAxis: {
                        type: 'category',
                            axisLabel: {
                            interval: 0,
                                textStyle: {
                                color: '#e8e9ee',
                                    fontSize:10
                            }
                        },
                        axisLine:{
                            lineStyle:{
                                color:'#6e82a7',
                            }
                        },
                        axisTick:{
                            show:false,

                        },
                        max:2,
                            data:yearDatas,
                    },
                    yAxis: [
                        {
                            name:'亿元',
                            type: 'value',
                            scale: true,
                            min:0,
                            nameTextStyle:{
                                color:'#e8e9ee',
                                fontSize:10
                            },
                            axisLabel : {
                                textStyle: {
                                    color: '#e8e9ee',
                                    fontSize:10
                                }
                            },
                            axisLine:{
                                lineStyle:{
                                    color:'#6e82a7',
                                }
                            },
                            splitLine: {
                                lineStyle: {
                                    color: '#405074',
                                    type:'dashed'
                                }
                            },
                            axisTick:{
                                show:false
                            },
                        },
                        {
                            type: 'value',
                            scale: true,
                            axisLabel : {
                                textStyle: {
                                    color: '#e8e9ee',
                                    fontSize:10
                                },
                                formatter: '{value} %'
                            },
                            axisLine:{
                                show:false
                            },
                            splitLine: {
                                show:false
                            },
                            axisTick:{
                                show:false
                            }
                        }
                    ],
                        series: [
                        {
                            name: '工业总产值',
                            type: 'bar',
                            barCategoryGap:85,
                            label: {
                                show: false
                            },
                            yAxisIndex: 0,
                            data: totalizeDatas,
                            itemStyle: {
                                normal:{
                                    color: function (params){
                                        var colorList = ['#a26247','#a26247','#a26247'];
                                        return colorList[params.dataIndex];
                                    },
                                    borderColor:'#a2936b',
                                    borderType:'solid',
                                    borderWidth: 1,
                                    barBorderRadius: [5, 5, 0, 0],
                                    opacity: 0.7
                                },


                            },
                            barWidth: 30,
                        },
                        {
                            name: '工业总产值增速',
                            type: 'line',
                            label: {
                                show: false
                            },
                            yAxisIndex: 1,
                            data: rateDatas,
                            lineStyle:{
                                color:"#e2c792"
                            },
                            itemStyle:{
                                color:"#e2c792"
                            }
                        }
                    ]
                }
                    this.drawPrivateEnterpriseChart()
            },

            //获取企业工业总产值数据
            getGrossIndustrialOutputValueOfEnterprises(year){



                for(var i = 0;i < this.stateArrayData.length;i++){
                    if(this.stateArrayData[i].year == year){
                        this.qiyetotal.stateValue = this.stateArrayData[i].totalize
                    }
                }
                for(var i = 0;i < this.privateArrayData.length;i++){
                    if(this.privateArrayData[i].year == year){
                        this.qiyetotal.privateValue = this.privateArrayData[i].totalize
                    }
                }
                this.createGrossIndustrialOutputValueOfEnterprisesChartOption(this.qiyetotal.stateValue, this.qiyetotal.privateValue);

            },

            createGrossIndustrialOutputValueOfEnterprisesChartOption(stateValue, privateValue){
                this.grossIndustrialOutputValueOfEnterprisesChartOption = {
                    title:{
                        show:false
                    },
                    tooltip : {
                        show:false,
                    },
                    legend: {
                        show:false
                    },
                    series : [
                        {
                            type:'pie',
                            radius : '75%',
                            center: ['50%', '50%'],
                            data:[
                                {	value:privateValue ,
                                    name:'私营企业',
                                    itemStyle: {
                                        color: '#d3784c',
                                    }
                                },
                                {	value:stateValue,
                                    name:'国有及国有控股企业',
                                    itemStyle: {
                                        color: '#f6c161',
                                    }
                                }
                            ],
                            roseType: 'radius',
                            label:{
                                normal: {
                                    color:'white',
                                    fontSize:10,
                                    show:true,
                                    formatter: '{b}\n{d}%',
                                }
                            },
                            labelLine:{
                                length:5,
                                length2:10,
                                lineStyle:{
                                    type:'dotted',
                                }
                            },
                            itemStyle: {
                                normal: {
                                    color: '#c23531',
                                    shadowBlur: 10,
                                    shadowColor: 'rgba(0, 0, 0, 0.5)'
                                }
                            },

                            animationType: 'scale',
                            animationEasing: 'elasticOut',
                            animationDelay: function (idx) {
                                return Math.random() * 200;
                            }
                        }
                    ]
                }
                this.drawGrossIndustrialOutputValueOfEnterprisesChart()
            },

			//促进企业发展情况
            getEnterpriseDevelopmentItem(year){

                window.console.log(this.arrayData);
                this.enterpriseDevelopmentData.year = year

                var number16 = 0;
                var number17 = 0;
                var growRada = 0;
                var clockWise = false;

                for(var i = 0;i < this.arrayData.length;i++){
                    if(this.arrayData[i].year == year - 1){
                        number16 = this.arrayData[i].number
                    }

                    if(this.arrayData[i].year == year){
                        number17 = this.arrayData[i].number
						this.enterpriseDevelopmentData.enterpriseCount = number17;
                        this.enterpriseDevelopmentData.enterpriseCountStr = number17.toString();
                    }
                }

                growRada = (number17 - number16)/number17;
                this.enterpriseDevelopmentData.growthRate = growRada;
                if (growRada < 0){
                    clockWise = false;
                    this.enterpriseDevelopmentData.clockWise = false;
					if (growRada < -1){
                        this.enterpriseDevelopmentData.growthRateCompare = 0;
					}else {
                        this.enterpriseDevelopmentData.growthRateCompare = -1 - growRada;
					}
				}else {
                    clockWise = true;
                    this.enterpriseDevelopmentData.clockWise = true;
                    this.enterpriseDevelopmentData.growthRateCompare = 1 - growRada;
				}
                var rateStr = Number(growRada*100).toFixed(1);
                rateStr += "%";
                this.enterpriseDevelopmentData.growthRateStr = rateStr;

                // enterpriseDevelopmentData: {
                //     year: 2017,
                //         enterpriseCount: 100,
                //         enterpriseCountLastyear: 100,
                //         enterpriseCountStr: '100',
                //         growthRate: 0.1,
                //         growthRateCompare
                //         growthRateStr: '10%',
                //         clockWise: false
                //
                // },

                this.createEnterpriseDevelopmentItemChartOption()

			},

            createEnterpriseDevelopmentItemChartOption(){
                this.enterpriseDevelopmentItemRightChartOption = {
                    title: {
                        text: this.enterpriseDevelopmentData.growthRateStr,
                            x: 'center',
                            y: 'center',
                            textStyle: {
                            fontSize:27,
                                fontWeight:500,
                                color: 'white'
                        }
                    },
                    legend:{
                        show: false,
                    },
                    series: [
                        {
                            type: 'pie',
                            z:0,
                            clockWise: true,
                            hoverAnimation: false,
                            legendHoverLink : false,
                            radius: [66,80],
                            emphasis :{
                                itemStyle :{
                                    color:"#3b4872"
                                }
                            },
                            center: ["50%", "50%"],
                            label: {
                                show: false
                            },
                            itemStyle: {
                                label: {
                                    show: false,
                                },
                                labelLine: {
                                    show: false
                                },
                            },
                            data: [{
                                value: 100,
                                itemStyle: {
                                    color: "#3b4872",
                                },
                                tooltip: {
                                    show: false
                                }
                            }]
                        },
                        {
                            type: 'pie',
                            z:1,
                            silent: true,
                            clockWise: this.enterpriseDevelopmentData.clockWise,
                            hoverAnimation: false,
                            radius: [ 69, 74],
                            center: ["50%", "50%"],
                            label: {
                                show: false
                            },
                            itemStyle: {
                                label: {
                                    show: false,
                                },
                                labelLine: {
                                    show: false
                                },
                            },
                            data: [
                                {
                                    value: this.enterpriseDevelopmentData.growthRate,
                                    itemStyle: {
                                        color: "#01c2c7",
                                        borderWidth: 9,
                                        borderColor: "#01c2c7"
                                    },
                                    tooltip: {
                                        show: true
                                    },
                                },
                                {
                                    value: this.enterpriseDevelopmentData.growthRateCompare,
                                    name: '',
                                    itemStyle: {
                                        color: "transparent",
                                    },
                                    tooltip: {
                                        show: false
                                    },
                                },
                            ]
                        }
                    ]
                }

					this.enterpriseDevelopmentItemChartOption = {
                    title: {
                        text: this.enterpriseDevelopmentData.enterpriseCountStr,
                            x: 'center',
                            y: 'center',
                            textStyle: {
                            fontSize:27,
                                fontWeight:500,
                                color: 'white'
                        }
                    },
                    legend:{
                        show: false,
                    },
                    series: [
                        {
                            type: 'pie',
                            z:0,
                            clockWise: true,
                            hoverAnimation: false,
                            legendHoverLink : false,
                            radius: [66,80],
                            emphasis :{
                                itemStyle :{
                                    color:"#3b4872"
                                }
                            },
                            center: ["50%", "50%"],
                            label: {
                                show: false
                            },
                            itemStyle: {
                                label: {
                                    show: false,
                                },
                                labelLine: {
                                    show: false
                                },
                            },
                            data: [{
                                value: 100,
                                itemStyle: {
                                    color: "#3b4872",
                                },
                                tooltip: {
                                    show: false
                                }
                            }]
                        },
                        {
                            type: 'pie',
                            z:1,
                            silent: true,
                            clockWise: true,
                            hoverAnimation: false,
                            radius: [ 69, 74],
                            center: ["50%", "50%"],
                            label: {
                                show: false
                            },
                            itemStyle: {
                                label: {
                                    show: false,
                                },
                                labelLine: {
                                    show: false
                                },
                            },
                            data: [
                                {
                                    value: this.enterpriseDevelopmentData.enterpriseCountLastyear,
                                    itemStyle: {
                                        color: "#00adfe",
                                        borderWidth: 9,
                                        borderColor: "#00adfe"
                                    },
                                    tooltip: {
                                        show: true
                                    },
                                },
                                {
                                    value: this.enterpriseDevelopmentData.enterpriseCount,
                                    name: '',
                                    itemStyle: {
                                        color: "transparent",
                                    },
                                    tooltip: {
                                        show: false
                                    },
                                },
                            ]
                        }
                    ]
                }

                this.drawEnterpriseDevelopmentItemChart();
                this.drawEnterpriseDevelopmentItemRightChart();
            },

			drawAreaIncomeChart(){
				this.areaIncomeChart = echarts.init(document.getElementById('area_income_chart'))
				this.areaIncomeChart.setOption(this.areaIncomeChartOption,true);
			},
			drawGrossIndustrialOutputValueOfEnterprisesChart(){
				this.grossIndustrialOutputValueOfEnterprisesChart = echarts.init(document.getElementById('gross_industrial_output_value_of_enterprises_chart'))
				this.grossIndustrialOutputValueOfEnterprisesChart.setOption(this.grossIndustrialOutputValueOfEnterprisesChartOption,true);
			},
			drawLargeAndMediumEnterprisesChart(){
				this.largeAndMediumEnterprisesChart = echarts.init(document.getElementById('large_and_medium_enterprises_chart'));
				this.largeAndMediumEnterprisesChart.setOption(this.largeAndMediumEnterprisesChartOption,true);
			},
			
			drawStateOwnedHoldingEnterprisesChart(){
				this.stateOwnedHoldingEnterprisesChart = echarts.init(document.getElementById('state_owned_holding_enterprises_chart'));
				this.stateOwnedHoldingEnterprisesChart.setOption(this.stateOwnedHoldingEnterprisesChartOption,true);
			},
			
			drawPrivateEnterpriseChart(){
				this.privateEnterpriseChart = echarts.init(document.getElementById('private_enterprise_chart'))
				this.privateEnterpriseChart.setOption(this.privateEnterpriseChartOption,true);
			},
			
			drawEnterpriseDevelopmentItemChart(){
				this.enterpriseDevelopmentItemChart = echarts.init(document.getElementById('enterprise_development_item_chart'))
				this.enterpriseDevelopmentItemChart.setOption(this.enterpriseDevelopmentItemChartOption,true);
			},
			
			drawEnterpriseDevelopmentItemRightChart(){
				this.enterpriseDevelopmentItemRightChart = echarts.init(document.getElementById('enterprise_development_item_right_chart'))
				this.enterpriseDevelopmentItemRightChart.setOption(this.enterpriseDevelopmentItemRightChartOption,true);
			},


		}

	}

    function sortByKey(array,key){
        return array.sort(function(a,b){
            var x = a[key];
            var y = b[key];
            return((x<y)?-1:((x>y)?1:0));
        })
    }
	
</script>

<style>
	@import './area.less';
</style>
