.area_layout{
	width: 99.3%;
	height: 100%;
}

.area_row_layout{
	height: 100%
}

.area_col_layout{
	height: 100%;
}

.area_col_item_top_layout{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 4%;
	width: 98%;
	height: 47%;
	margin-left: 2%;
	background: url(../../assets/pic_line_box620.png) no-repeat center;
	background-size: 100% 100%;
}

.area_col_item_bottom_layout{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 2%;
	margin-left: 2%;
	width: 98%;
	height: 47%;
	background: url(../../assets/pic_line_box620.png) no-repeat center;
	background-size: 100% 100%;
}

.area_col_item_label{
	color: white;
	font-size: 14px;
	margin-top: 15px;
    font-weight: 400;
}

.area_col_item_common_chart_layout{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center
}
.area_col_item_common_bottom_chart_layout{
	width: 90%;
	height: 85%;
	display: flex;
	flex-direction: column;
	align-items: center
}

.gross_industrial_output_value_of_enterprises_title{
	color: #7a98a9;
	font-size: 11px;
}

.enterprise_development_layout{
	display:flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
	height: 70%;
}

.enterprise_development_left_chart{
	width: 50%;
	height: 100%;
}

.enterprise_development_bottom_label_layout{
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 85%;
	height: 30px;
	padding-left: 30px;
	margin-top: 10px;
	background: url(../../assets/pic_number_bg_cxnl.png) no-repeat center;
	background-size: 100% 100%;
}
.enterprise_development_bottom_label{
	color: white;
	font-size: 10px;
}
.enterprise_development_bottom_label_value{
	color: #0b79b6;
	font-size: 12px;
	margin-left: 5px;
	margin-right: 5px;
}

.enterprise_development_item_chart{
	width: 50%;
	height: 100%;
}

.enterprise_development_top_label_layout{
	display: flex;
	flex-direction: row;
	margin-top: 5px;
	align-items: center;
	width: 100%;
	height: 25px;
}

.enterprise_development_top_label_content_layout{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 50%;
	height: 30px;
}