.industry_overall_layout{
  width: 100%;
  height: 100%;

}

.industry_overall_situation_layout{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 80%;
  margin-top: 20px;
}

.industry_overall_situation_title{
  color: white;
  font-size: 28px;
  text-align: center;
  margin-top: 10px;
  width: 100%;
  height: 28px;
}

.industry_overall_situation_chart{
  margin-top: 5px;
  width: 80%;
  height: 500px;
  margin-left: 10%;
  align-items: center;
}