<template>
    <div class="industry_overall_layout">
        <div class="industry_overall_situation_layout" >
            <label class="industry_overall_situation_title">南京市区域总产值</label>
            <div class="industry_overall_situation_chart">
                <div id="myChart" :style="{width: '100%', height: '400px'}" />
            </div>>

        </div>
    </div>
</template>

<script>


    let echarts = require('echarts/lib/echarts')
    require('echarts/lib/chart/bar')
    require("echarts/lib/chart/pie")
    require("echarts/lib/chart/line")
    require("echarts/lib/chart/scatter");
    require("echarts/lib/chart/effectScatter");
    require('echarts/lib/component/tooltip')
    require('echarts/lib/component/title')
    require("echarts/lib/component/legend");

    import {
        areaIncomeList
    } from '@/api/data'

    let areas = ['玄武区','秦淮区','建邺区','鼓楼区','浦口区','栖霞区','江宁区','六合区', '溧水区','高淳区']

    export default {
        name: "overall-situation",
        data(){
            return {
                overallSituationBarChart:{},
                overallSituationBarChartOption:{}
            }
        },

        // mounted() {
        //     this.drawLine();
        //     window.onresize = () => {
        //         return (() => {
        //             this.handleLableWidth();
        //         })()
        //     }
        // },
        mounted() {
            this.getAreaIncomeList(0);
        },
        methods:{
            //获取区域销售收入数据
            getAreaIncomeList(year){
                let that = this;
                return new Promise((resolve, reject) => {
                    areaIncomeList(year).then(res => {
                        if(res.data.code == 0){
                            window.console.log(res.data.object);
                            that.handleAreaIncomeData(res.data.object);
                        }
                        resolve()
                    }).catch(err => {
                        reject(err)
                    })
                })
            },

            handleAreaIncomeData(list) {
                if(list == null){
                    return;
                }

                var dimensionsArray = [];
                dimensionsArray.push('product');
                for(var i = 0;i < list.length;i++){
                    if(i >= areas.length){
                        break;
                    }
                    if(list[i].region == "江宁区"){
                        dimensionsArray.push(list[i].year.toString());
                    }
                }

                var sourceArray = [];
                for(var j = 0;j < areas.length;j++){
                    var sourceItemArray = [];
                    sourceItemArray.push(areas[j])
                    for(var k = 0;k < list.length;k++){
                        if(list[k].region == areas[j]){
                            sourceItemArray.push(list[k].value)
                        }
                    }
                    sourceArray.push(sourceItemArray);
                }
                this.createAreaIncomeChartOption(dimensionsArray, sourceArray);
            },
            createAreaIncomeChartOption(dimensionsArray, sourceArray){
                this.overallSituationBarChartOption = {
                    grid:{
                        show:true,
                            borderColor:"transparent",
                            backgroundColor:'#2c3c60',
                            top:30,
                            bottom:60,
                            right:60,
                            left:60,
                    },
                    legend: {
                        itemWidth:30,
                            itemHeight:15,
                            bottom: 1,
                            textStyle:{
                            color:'#e8e9ee',
                                fontSize:14
                        }
                    },
                    tooltip: {
                        trigger:'item'
                    },
                    dataset: {
                        dimensions: dimensionsArray,
                            source: sourceArray
                    },
                    xAxis: {
                        type: 'category',
                            axisLabel: {
                            interval: 0,
                                textStyle: {
                                color: '#e8e9ee',
                                    fontSize:15
                            }
                        },
                        axisLine:{
                            lineStyle:{
                                color:'#6e82a7',
                            }
                        },
                        axisTick:{
                            show:false,

                        }
                    },
                    yAxis: {
                        name:'亿元',
                            min:0,
                            max:3500,
                            minInterval:1,
                            splitNumber:6,
                            nameTextStyle:{
                            color:'#e8e9ee',
                                fontSize:12
                        },
                        axisLabel : {
                            textStyle: {
                                color: '#e8e9ee',
                                    fontSize:14
                            }
                        },
                        axisLine:{
                            lineStyle:{
                                color:'#6e82a7',
                            }
                        },
                        splitLine: {
                            lineStyle: {
                                color: '#405074',
                                    type:'dashed'
                            }
                        },
                        axisTick:{
                            show:false
                        },
                    },
                    series: [
                        {
                            type: 'bar',
                            itemStyle: {
                                normal:{
                                    color: function (params){
                                        var colorList = ['#107ebd','#107ebd','#107ebd'];
                                        return colorList[params.dataIndex];
                                    },
                                    borderColor:'#53abbd',
                                    borderType:'solid',
                                    borderWidth: 1,
                                    barBorderRadius: [3, 3, 0, 0],
                                    opacity: 0.7
                                }
                            },
                            emphasis :{
                                itemStyle :{
                                    color:"#107ebd"
                                }
                            },

                        },
                        {
                            type: 'bar',
                            itemStyle: {
                                normal:{
                                    color: function (params){
                                        var colorList = ['#a8684d','#a8684d','#a8684d'];
                                        return colorList[params.dataIndex];
                                    },
                                    borderColor:'#a88d7a',
                                    borderType:'solid',
                                    borderWidth: 1,
                                    barBorderRadius: [3, 3, 0, 0],
                                    opacity: 0.7
                                }
                            },
                            emphasis :{
                                itemStyle :{
                                    color:"#a8684d"
                                }
                            },
                        },
                        {
                            type: 'bar',
                            itemStyle: {
                                normal:{
                                    color: function (params){
                                        var colorList = ['#a38b5f','#a38b5f','#a38b5f'];
                                        return colorList[params.dataIndex];
                                    },
                                    borderColor:'#a3966a',
                                    borderType:'solid',
                                    borderWidth: 1,
                                    barBorderRadius: [3, 3, 0, 0],
                                    opacity: 0.7
                                }
                            },
                            emphasis :{
                                itemStyle :{
                                    color:"#a38b5f"
                                }
                            },
                        }
                    ]
                }

                this.drawLine();

            },
            // handleLableWidth(){
            //     this.overallSituationBarChart.resize();
            // },
            drawLine() {
                this.overallSituationBarChart = echarts.init(document.getElementById('myChart'))
                this.overallSituationBarChart.setOption(this.overallSituationBarChartOption,true);
            }

        }


    }




</script>

<style scoped>
    @import './overallSituation.less';
</style>