.estate_layout{
	padding-top: 10px;
	width: 100%;
	height:100%;
}
.row_layout{
	height:100%;
}
.col_layout{
	height:100%;
}

.estate_left_layout{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.estate_center_layout{
	width: 100%;
	height: 100%;
	background: url(../../assets/pic_bg_earth_cyfx.png) no-repeat center;
	background-size: 95% 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.estate_center_title{
	color: white;
	font-size: 16px;
}
.estate_center_img{
	height: 650px;
	width: auto;
	z-index: 0;
	left: 50%;
	position: absolute;
	transform: translate(-50%,0%)
}

.estate_center_img_layout{
	margin-top: 20px;
	height: 70%;
	position: relative
}
.estate_center_img_chart_layout{
	height: 650px;
	width: 450px;
	position: absolute;
	z-index: 5;
	left: 50%;
	transform: translate(-50%,0%)
}

.estate_center_describe{
	width: 240px;
	height: auto;
	padding-bottom: 20px;
	background: #162743;
	border-radius: 10px;
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	bottom: 2%;
	left: 0;
	z-index: 10;
}

.estate_right_layout{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.estate_left_top_layout{
	width: 94%;
	height: 33%;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: url(../../assets/pic_line_left_top.png) no-repeat;
	background-size: 100% 100%
}
.estate_left_bottom_layout{
	width: 94%;
	height: 65%;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: url(../../assets/pic_line_box_left_bottom.png) no-repeat;
	background-size: 100% 100%
}

.estate_right_bottom_layout{
	width: 94%;
	height: 32%;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: url(../../assets/pic_line_left_top.png) no-repeat;
	background-size: 100% 100%
}

.estate_center_describe_title{
	color: white;
	font-size: 10px;
	width: 200px;
	margin-top: 15px;
	margin-bottom: 5px;
}

.estate_center_describe_list{
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 200px;
	margin-top: 10px;
}
.estate_center_describe_list_left{
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 58%;
}

.estate_center_describe_list_item{
	display: flex;
	flex-direction: row;
	width: 32%;
}
.estate_center_describe_list_item_image{
	width: 10px;
	height: 10px;
	margin-right: 5px;
}
.estate_center_describe_list_item_babel{
	color: white;
	font-size: 10px;
}

.economic_contribution_title{
	color:#7f9bc3; 
	font-size: 10px;
	margin-top: 1%
}

#economic_contribution_chart{
	width: 95%;
	height: 100%
}

.gross_industrial_output_label{
	color: white;
	font-size: 16px;
	margin-top: 5%;
	margin-bottom: 10px;
}

.gross_industrial_output_unit_label{
	color: #93b5e3;
	width: 95%;
	margin-top: 10px;
	text-align: right;
	font-size: 10px;
}
.gross_industrial_output_list{
	display: flex;
	flex-direction: row;
	background: #233253;
	width: 94%;
	height: 7.8%;
	align-items: center;
	margin-top: 3px;
}
.gross_industrial_output_list_item_left_label{
	color: #75808f;
	font-size: 14px;
	width: 20%;
	font-weight:bold;
	text-align: center;
}
.gross_industrial_output_list_item_label{
	color: white;
	font-size: 12px;
	width: 40%;
	text-align: center;
}

.gross_industrial_output_line{
	color: #384670;
	font-size: 12px;
}

.hr_line_transform{
	height:1px;
	border:none;
	border-top:1px dashed #394670; 
	width: 16px; 
	transform: rotate(115deg);
}
#high_technology_chart{
	width: 95%;
	height: 90%;
	margin-top: 5%
}

#comprehensive_energy_consumption_chart{
	width: 95%;
	height: 90%;
	margin-top: 5%
}
.estate_right_innovation_ability_layout{
	width: 100%;
	height: 60%;
	display: flex;
	flex-direction: row
}
.innovation_ability_chart_layout{
	width: 50%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#innovation_ability_left_chart{
	width: 100%;
	height: 100%;
	margin-top: 10px;
	
}

#innovation_ability_right_chart{
	width: 100%;
	height: 100%;
	margin-top: 10px;
}

.innovation_ability_chart_layout_label{
	display: block;
	color: white;
	font-size: 8px;
	width: 24%;
	margin-left: 10%;
	text-align: center
}

.estate_right_innovation_ability_chart_describe_layout{
	display: flex;
	flex-direction: row;
	margin-top: 5px;
}

.estate_right_innovation_ability_describe_layout{
	display: flex;
	padding-left: 20px;
	width: 90%;
	height: 30px;
	flex-direction: row;
	align-items: center;
	background: url(../../assets/pic_number_bg_cxnl.png) no-repeat;
	background-size: 100% 100%;
}

.estate_right_innovation_ability_describe_label{
	color: white;
	font-size: 12px;
}

.estate_right_innovation_ability_describe_value_label{
	color: #88a8d5;
	font-size: 14px;
	margin-left: 5px;
	margin-right: 5px;
}

.estate_city_style{
	margin-left: 5px;
	width: 7px;
	height: 20px;
	display: inline-block
}


.estate_city_style_list{
	position: absolute;
	z-index: 2;
	height: 25px;
}

.estate_center_image_tag_top_layout{
	width: auto;
	padding-right: 5px;
	height: 20px;
	z-index: 8;
}

.estate_center_image_tag_bottom_layout{
	width: 100%;
	height: 8px;
	background: black;
	z-index: 0;
	margin-top: -3px
}

