<template>
	<div class="estate_layout">
		<Row type="flex" class="row_layout">
			<Col span="6"  class="col_layout">
				<div class="estate_left_layout">
					<div class="estate_left_top_layout">
						<label class="economic_contribution_title">江苏省各城市经济贡献率</label>
						<div id="economic_contribution_chart">
						</div>
					</div>
					<div style="height: 1%;"></div>
					<div class="estate_left_bottom_layout">
						<label class="gross_industrial_output_label">南京各区工业总产值排名</label>
						<div class="gross_industrial_output_list" v-for="(object,index) in rossIndustrialOutputData">
							<label class="gross_industrial_output_list_item_left_label" v-if="index >= 3">{{index+1}}</label>
							<label class="gross_industrial_output_list_item_left_label" v-if="index < 3" style="color: #f6c161;">{{index+1}}</label>
							<hr class="hr_line_transform"/>
							<label class="gross_industrial_output_list_item_label" v-if="index >= 3">{{object.region}}</label>
							<label class="gross_industrial_output_list_item_label" v-if="index < 3" style="color: #f6c161;">{{object.region}}</label>
							<hr class="hr_line_transform"/>
							<label class="gross_industrial_output_list_item_label">{{object.value}}</label>
						</div>
						<label class="gross_industrial_output_unit_label">单位：亿万元</label>
					</div>
				</div>
			</Col>
			<Col span="12">
				<div class="estate_center_layout">
					<label class="estate_center_title">江苏省示范基地产业类型图</label>
					<!-- <div style="width: 100%;height: 90%;display: flex;flex-direction: row;align-items: center;"> -->
						<div class="estate_center_img_layout" >
							<img class="estate_center_img" src="../../assets/pic_map_jscy.png" />
							<div class="estate_center_img_chart_layout">
								<div class="estate_city_style_list" v-for="(cityItem,index) in citiPositionList" v-show="cityItem.show" :style="{bottom: cityItem.bottom,left: cityItem.left}" >
									<div class="estate_center_image_tag_top_layout">
										<div class="estate_city_style" v-for="cityDemonstrationItem in cityItem.data" :style="{background:cityDemonstrationItem}" />
									</div>
									<div class="estate_center_image_tag_bottom_layout"></div>
								</div>
							</div>
						</div>
					<!-- </div> -->
					<div class="estate_center_describe">
						<label class="estate_center_describe_title">柱状图表示各行业领域在各地区的示范基地类型</label>
						<div class="estate_center_describe_list">
							<div class="estate_center_describe_list_left">
								<div class="estate_center_describe_list_item_image" style="background: #36a2da;"></div>
								<label class="estate_center_describe_list_item_babel">装备制造</label>
							</div>
							<div class="estate_center_describe_list_item">
								<div class="estate_center_describe_list_item_image" style="background: #ff9f7f;"></div>
								<label class="estate_center_describe_list_item_babel">原材料</label>
							</div>
						</div>
						<div class="estate_center_describe_list">
							<div class="estate_center_describe_list_left">
								<div class="estate_center_describe_list_item_image" style="background: #68e0e3;"></div>
								<label class="estate_center_describe_list_item_babel">电子信息</label>
							</div>
							<div class="estate_center_describe_list_item">
								<div class="estate_center_describe_list_item_image" style="background: #a0e6b8;"></div>
								<label class="estate_center_describe_list_item_babel">军民融合</label>
							</div>
						</div>
						<div class="estate_center_describe_list">
							<div class="estate_center_describe_list_left">
								<div class="estate_center_describe_list_item_image" style="background: #ffdb5d;"></div>
								<label class="estate_center_describe_list_item_babel">软件和信息服务</label>
							</div>
							<div class="estate_center_describe_list_item">
								<div class="estate_center_describe_list_item_image" style="background: #e690d1;"></div>
								<label class="estate_center_describe_list_item_babel">消费品</label>
							</div>
						</div>
						<div class="estate_center_describe_list">
							<div class="estate_center_describe_list_left">
								<div class="estate_center_describe_list_item_image" style="background: #96bfff;"></div>
								<label class="estate_center_describe_list_item_babel">其他</label>
							</div>
						</div>
					</div>
				</div>
			</Col>
			<Col span="6">
				<div class="estate_right_layout">
					<div class="estate_left_top_layout" >
						<label class="economic_contribution_title">南京市创新能力</label>
						<div class="estate_right_innovation_ability_layout">
							<div id="innovation_ability_left_chart"></div>
							<div id="innovation_ability_right_chart"></div>
						</div>
						
						<div class="estate_right_innovation_ability_chart_describe_layout">
							<label class="innovation_ability_chart_layout_label">工业企业研发机构仪器和设备投入额</label>
							<label class="innovation_ability_chart_layout_label" style="margin-left: 30%;">工业企业研发机构仪器和设备投入额增速</label>
						</div>
						
						<div class="estate_right_innovation_ability_describe_layout">
							<label class="estate_right_innovation_ability_describe_label">截止到{{innovationAbilityData.year}}年，南京市专利授权数量共计</label>
							<label class="estate_right_innovation_ability_describe_value_label">{{innovationAbilityData.patent}}</label>
							<label class="estate_right_innovation_ability_describe_label">件</label>
						</div>
					</div>
					<div style="height: 1%;"></div>
					<div class="estate_right_bottom_layout">
						<label class="economic_contribution_title">南京市高新技术产业</label>
						<div id="high_technology_chart"></div>
					</div>
					<div style="height: 1%;"></div>
					<div class="estate_right_bottom_layout">
						<label class="economic_contribution_title">南京市综合能耗</label>
						<div id="comprehensive_energy_consumption_chart"></div>
					</div>
				</div>
			</Col>
		</Row>
	</div>
</template>

<script>
	import {
		getDemonstrationBaseData,
		getRossIndustrialOutputData,
		getEconomicContributionData,
		getHighTechnologyData,
		getComprehensiveEnergyConsumptionData,
		getInnovationAbilityData
	} from '@/api/data'
	
	let echarts = require('echarts/lib/echarts')
	require('echarts/lib/chart/bar')
	require("echarts/lib/chart/pie")
	require("echarts/lib/chart/scatter");
	require("echarts/lib/chart/line")
	require("echarts/lib/chart/gauge");
	require("echarts/lib/chart/effectScatter");
	require('echarts/lib/component/tooltip')
	require('echarts/lib/component/title')
	require("echarts/lib/component/legend");
	
	var demonstrationBase = [
		{
			name:'装备制造产业',
			color:'#36a2da'
		},
		{
			name:'原材料产业',
			color:'#ff9f7f'
		},
		{
			name:'电子信息产业',
			color:'#68e0e3'
		},
		{
			name:'军民融合产业',
			color:'#a0e6b8'
		},
		{
			name:'软件和信息服务产业',
			color:'#ffdb5d'
		},
		{
			name:'消费品产业',
			color:'#e690d1'
		},
		{
			name:'其他',
			color:'#96bfff'
		}
	];
	var cityList = ['南京','苏州','无锡','常州','南通','镇江','扬州','泰州','盐城','淮安','宿迁','徐州','连云港']
	function getDemonstrationBaseColorByName(val){
		for(var i=0;i<demonstrationBase.length;i++){
			if(demonstrationBase[i].name == val){
				return demonstrationBase[i].color
			}
		}
		return '#96bfff'
	};
	
	function getYearData(data,city){
		for(var i=0;i<data.length;i++){
			if(data[i].city == city){
				return data[i].value
			}
		}
		return null
	}
	
	export default{
		data(){
			return{
				citiPositionList:[
					{	
						show:false,
						name:'南京',
						bottom:'250px',
						left:'135px ',
						data:[],
					},
					{	
						show:false,
						name:'苏州',
						bottom:'96px',
						left:'311px',
						data:[],
					},
					{
						show:false,
						name:'无锡',
						bottom:'148px',
						left:'288px',
						data:[],
					},
					{	
						show:false,
						name:'常州',
						bottom:'165px',
						left:'250px',
						data:[],
					},
					{	
						show:false,
						name:'南通',
						bottom:'181px',
						left:'375px',
						data:[],
					},
					{	
						show:false,
						name:'镇江',
						bottom:'193px',
						left:'195px',
						data:[],
					},
					{	
						show:false,
						name:'扬州',
						bottom:'272px',
						left:'216px',
						data:[],
					},
					{	
						show:false,
						name:'泰州',
						bottom:'220px',
						left:'280px',
						data:[],
					},
					{	
						show:false,
						name:'盐城',
						bottom:'368px',
						left:'332px',
						data:[],
					},
					{	
						show:false,
						name:'淮安',
						bottom:'428px',
						left:'213px',
						data:[],
					},
					{	
						show:false,
						name:'宿迁',
						bottom:'428px',
						left:'135px',
						data:[],
					},
					{	
						show:false,
						name:'徐州',
						bottom:'520px',
						left:'95px',
						data:[],
					},
					{	
						show:false,
						name:'连云港',
						bottom:'495px',
						left:'255.5px',
						data:[],
					},
				],
				rossIndustrialOutputData:[],
				innovationAbilityData:{},
				innovationAbilityLeftChart:{},
				innovationAbilityLeftChartOption:{
					title: {
						text: '',
						x: '48%',
						y: '42%',
						textAlign: "center",
						textStyle: {
							fontSize: 16,
							color: '#ffffff'
						},
						subtextStyle: {
							fontSize: 10,
							color: '#3ea1ff'
						},
						subtext: '亿元'
					},
					series: [
						{
							type: 'gauge',
							radius: '75%',
							min:0,
							max:200,
							splitNumber: 4, //刻度数量
							startAngle: 220,
							endAngle: -40,
							center: ['50%', '50%'],
							axisLine: {
								show: false,
								lineStyle: {
									width: 1,
									color: [
										[1, 'rgba(0,0,0,0)']
									]
								}
							}, //仪表盘轴线
							
							axisTick: {
								show: true,
								lineStyle: {
									color: '#99a4bc',
									width: 1
								},
								length: -2,
								splitNumber: 5
							}, //刻度样式
							splitLine: {
								show: false
							}, //分隔线样式
							detail: {
								show: false
							},
							pointer: {
								show: false
							},
							axisLabel: {
								show: true,
								color: '#99a4bc',
								fontSize :10,
								distance: -50
							}, //刻度标签。
						}, 
						{
							name: '1',
							type: 'pie',
							radius: ['64%', '70%'],
							center: ['50%', '50%'],
							startAngle: 220,
							hoverAnimation: false,
							legendHoverLink: false,
							labelLine: {
								show: false
							},
							data: [{
								value: 260,
								itemStyle: {
									color: "#3a4872",
									borderWidth: 6,
									borderColor: "#3a4872"
								},
							}, {
								value: 100,
								itemStyle: {
									color: "transparent",
								},
							}]
						},
						{
							name: '2',
							type: 'pie',
							radius: ['64%', '70%'],
							center: ['50%', '50%'],
							startAngle: 220,
							hoverAnimation: false,
							legendHoverLink: false,
							labelLine: {
								show: false
							},
							data: [{
								value: 50,
								itemStyle: {
									color: "#f6c161",
									borderWidth: 6,
									borderColor: "#f6c161"
								},
							}, {
								value: 50,
								itemStyle: {
									color: "transparent",
								},
							}]
						}
					]
				},
				
				innovationAbilityRightChart:{},
				innovationAbilityRightChartOption:{
					title: {
						text: '87%',
						x: '48%',
						y: '40%',
						textAlign: "center",
						textStyle: {
							fontSize: 18,
							color: '#ffffff'
						}
					},
					series: [{
							type: 'gauge',
							radius: '75%',
							min: 0,
							max: 20,
							splitNumber: 4, //刻度数量
							startAngle: 220,
							endAngle: -40,
							center: ['50%', '50%'],
							axisLine: {
								show: false,
								lineStyle: {
									width: 1,
									color: [
										[1, 'rgba(0,0,0,0)']
									]
								}
							}, //仪表盘轴线
							
							axisTick: {
								show: true,
								lineStyle: {
									color: '#99a4bc',
									width: 1
								},
								length: -2,
								splitNumber: 5
							}, //刻度样式
							splitLine: {
								show: false
							}, //分隔线样式
							detail: {
								show: false
							},
							pointer: {
								show: false
							},
							axisLabel: {
								formatter:'{value} %',
								show: true,
								color: '#99a4bc',
								fontSize :10,
								distance: -50
							}, //刻度标签。
						}, 
						{
							name: '1',
							type: 'pie',
							radius: ['64%', '70%'],
							center: ['50%', '50%'],
							startAngle: 220,
							hoverAnimation: false,
							legendHoverLink: false,
							labelLine: {
								show: false
							},
							data: [{
								value: 260,
								itemStyle: {
									color: "#3a4872",
									borderWidth: 6,
									borderColor: "#3a4872"
								},
							}, {
								value: 100,
								itemStyle: {
									color: "transparent",
								},
							}]
						},
						{
							name: '2',
							type: 'pie',
							radius: ['64%', '70%'],
							center: ['50%', '50%'],
							startAngle: 220,
							hoverAnimation: false,
							legendHoverLink: false,
							labelLine: {
								show: false
							},
							data: [{
								value: 50,
								itemStyle: {
									color: "#fe8848",
									borderWidth: 6,
									borderColor: "#fe8848"
								},
							}, {
								value: 50,
								itemStyle: {
									color: "transparent",
								},
							}]
						}
					]
				},
				
				comprehensiveEnergyConsumptionChart:{},
				comprehensiveEnergyConsumptionChartOption:{
					grid:{
							show:true,  
							borderColor:"transparent",
							backgroundColor:'#2c3c60',
							left:40,
							right:30,
							top:30,
							bottom:40
						},
						legend: {
							data: ['高新技术总产值', '从业人员增长率'],
							itemWidth:15,
							itemHeight:5,
							bottom:0,
							textStyle:{
								color:'#e8e9ee',
								fontSize:8
							}
						},
						tooltip: {
							trigger: 'axis',
							axisPointer: {
								type: 'cross',
								label: {
									backgroundColor: '#e2c792'
								}
							}
						},
						xAxis: {
							type: 'category',
							axisLabel: {
								interval: 0,
						        textStyle: {
						            color: '#e8e9ee',
									fontSize:9
						        }
						    },
							axisLine:{
								lineStyle:{
									color:'#6e82a7',
								}
							},
							axisTick:{
								show:false,
								
							},
							max:2,
							data:['2015','2016','2017'],
						},
						yAxis: [
							{
								name:'亿元',
								type: 'value',
								scale: true,
								nameTextStyle:{
									color:'#e8e9ee',
									fontSize:8
								},
								axisLabel : {
									textStyle: {
										color: '#e8e9ee',
										fontSize:8
									}
								},
								axisLine:{
									lineStyle:{
										color:'#6e82a7',
									}
								},
								splitLine: {
									lineStyle: {
										color: '#405074',
										type:'dashed'
									}
								},
								axisTick:{
									show:false
								},
							},
							{
								type: 'value',
								scale: true,
								minInterval:1,
								axisLabel : {
									textStyle: {
										color: '#e8e9ee',
										fontSize:8
									},
									formatter: '{value} %'
								},
								axisLine:{
									show:false
								},
								splitLine: {
									show:false
								},
								axisTick:{
									show:false
								}
							}
						],
						series: [
							{
								name: '高新技术总产值',
								type: 'bar',
								barCategoryGap:65,
								label: {
									show: false
								},
								yAxisIndex: 0,
								data: [3000,13000,12500],
								itemStyle: {   
									normal:{  
										color: function (params){
											var colorList = ['#0b8594','#0b8594','#0b8594'];
											return colorList[params.dataIndex];
										}
									}
								}
							},
							{
								name: '从业人员增长率',
								type: 'line',
								label: {
									show: false
								},
								yAxisIndex: 1,
								data: [4,6,7],
								lineStyle:{
									color:"#e2c792"
								},
							itemStyle:{
								color:"#e2c792"
							}
						}
					]
				},
					
				highTechnologyChart:{},
				highTechnologyChartOption:{
					grid:{
							show:true,  
							borderColor:"transparent",
							backgroundColor:'#2c3c60',
							left:40,
							right:30,
							top:30,
							bottom:40
						},
						legend: {
							data: ['高新技术总产值', '从业人员增长率'],
							itemWidth:15,
							itemHeight:5,
							bottom:0,
							textStyle:{
								color:'#e8e9ee',
								fontSize:8
							}
						},
						tooltip: {
							trigger: 'axis',
							axisPointer: {
								type: 'cross',
								label: {
									backgroundColor: '#e2c792'
								}
							}
						},
						xAxis: {
							type: 'category',
							axisLabel: {
								interval: 0,
						        textStyle: {
						            color: '#e8e9ee',
									fontSize:9
						        }
						    },
							axisLine:{
								lineStyle:{
									color:'#6e82a7',
								}
							},
							axisTick:{
								show:false,
								
							},
							max:2,
							data:['2015','2016','2017'],
						},
						yAxis: [
							{
								name:'亿元',
								type: 'value',
								scale: true,
								nameTextStyle:{
									color:'#e8e9ee',
									fontSize:8
								},
								axisLabel : {
									textStyle: {
										color: '#e8e9ee',
										fontSize:8
									}
								},
								axisLine:{
									lineStyle:{
										color:'#6e82a7',
									}
								},
								splitLine: {
									lineStyle: {
										color: '#405074',
										type:'dashed'
									}
								},
								axisTick:{
									show:false
								},
							},
							{
								type: 'value',
								scale: true,
								minInterval:1,
								axisLabel : {
									textStyle: {
										color: '#e8e9ee',
										fontSize:8
									},
									formatter: '{value} %'
								},
								axisLine:{
									show:false
								},
								splitLine: {
									show:false
								},
								axisTick:{
									show:false
								}
							}
						],
						series: [
							{
								name: '高新技术总产值',
								type: 'bar',
								barCategoryGap:65,
								label: {
									show: false
								},
								yAxisIndex: 0,
								data: [3000,13000,12500],
								itemStyle: {   
									normal:{  
										color: function (params){
											var colorList = ['#0b79b6','#0b79b6','#0b79b6'];
											return colorList[params.dataIndex];
										}
									}
								}
							},
							{
								name: '从业人员增长率',
								type: 'line',
								label: {
									show: false
								},
								yAxisIndex: 1,
								data: [4,6,7],
								lineStyle:{
									color:"#e2c792"
								},
							itemStyle:{
								color:"#e2c792"
							}
						}
					]
				},
					
				economicPerformanceChart:{},
				economicPerformanceChartOption:{
						grid:{
							show:true,  
							borderColor:"transparent",
							backgroundColor:'#2c3c60',
							left:30,
							right:30,
							top:30,
							bottom:40
						},
						legend: {
							itemWidth:20,
							itemHeight:5,
							bottom:0,
							textStyle:{
								color:'#e8e9ee',
								fontSize:8
							}
						},
						tooltip: {
							trigger:'item'
						},
						dataset: {
							dimensions: ['product', '税金总额', '利润总额'],
							source: [
								{product: '2015', '税金总额': 43.3, '利润总额': 85.8},
								{product: '2016', '税金总额': 83.1, '利润总额': 73.4},
								{product: '2017', '税金总额': 86.4, '利润总额': 65.2},
							]
						},
						xAxis: {
							type: 'category',
							axisLabel: {
								interval: 0,
						        textStyle: {
						            color: '#e8e9ee',
									fontSize:9
						        }
						    },
							axisLine:{
								lineStyle:{
									color:'#6e82a7',
								}
							},
							axisTick:{
								show:false,
								
							},
							max:2,
							
						},
						yAxis: {
							name:'亿元',
							nameTextStyle:{
								color:'#e8e9ee',
								fontSize:8
							},
							axisLabel : {
							    textStyle: {
							        color: '#e8e9ee',
									fontSize:8
							    }
							},
							axisLine:{
								lineStyle:{
									color:'#6e82a7',
								}
							},
							splitLine: {
								lineStyle: {
									color: '#405074',
									type:'dashed'
								}
							},
							axisTick:{
								show:false
							},
						},
						series: [
							{
								type: 'bar',
								barCategoryGap:35,
								itemStyle: {   
									normal:{  
										color: function (params){
											var colorList = ['#0b79b6','#0b79b6'];
											return colorList[params.dataIndex];
										}
									}
								}
							
							},
							{
								type: 'bar',
								barCategoryGap:35,
								itemStyle: {   
									normal:{  
										color: function (params){
											var colorList = ['#a66047','#a66047'];
											return colorList[params.dataIndex];
										}
									}
								}
							}
						]
				},
				
				economicContributionChart:{},
				economicContributionChartOption:{
					grid:{
						show:true,  
						borderColor:"transparent",
						backgroundColor:'#2c3c60',
						left:40,
						right:15,
						top:30,
						bottom:70
					},
					legend: {
						itemWidth:8,
						itemHeight:8,
						bottom:0,
						icon:'circle',
						textStyle:{
							color:'#e8e9ee',
							fontSize:8
						}
					},
					tooltip: {
						trigger:'item'
					},
					dataset: {
						dimensions: ['product', '2015', '2016', '2017'],
						source: [
							{product: '南京市', '2015': 43.3, '2016': 85.8, '2017': 93.7},
							{product: '南通市', '2015': 83.1, '2016': 73.4, '2017': 55.1},
							{product: '宿迁市', '2015': 86.4, '2016': 65.2, '2017': 82.5},
							{product: '常州市', '2015': 72.4, '2016': 53.9, '2017': 39.1},
							{product: '徐州市', '2015': 72.4, '2016': 53.9, '2017': 39.1},
							{product: '扬州市', '2015': 72.4, '2016': 53.9, '2017': 39.1},
							{product: '无锡市', '2015': 72.4, '2016': 53.9, '2017': 39.1},
							{product: '泰州市', '2015': 72.4, '2016': 53.9, '2017': 39.1},
							{product: '淮安市', '2015': 72.4, '2016': 53.9, '2017': 39.1},
							{product: '盐城市', '2015': 72.4, '2016': 53.9, '2017': 39.1},
							{product: '苏州市', '2015': 72.4, '2016': 53.9, '2017': 39.1},
							{product: '连云港市', '2015': 72.4, '2016': 53.9, '2017': 39.1},
							{product: '镇江市', '2015': 72.4, '2016': 53.9, '2017': 39.1},
						]
					},
					xAxis: {
						type: 'category',
						axisLabel: {
							interval: 0,
				            textStyle: {
				                color: '#e8e9ee',
								fontSize:9
				            },
							formatter:function(value)
                                {
                                    return value.split("").join("\n");
                                }

				        },
						axisLine:{
							lineStyle:{
								color:'#6e82a7',
							}
						},
						axisTick:{
							show:false,
							
						}
					},
					yAxis: {
						axisLabel : {
						    textStyle: {
						        color: '#e8e9ee',
								fontSize:8
						    },
							formatter: '{value} %'
						},
						axisLine:{
							lineStyle:{
								color:'#6e82a7',
							}
						},
						splitLine: {
							lineStyle: {
								color: '#405074',
								type:'dashed'
							}
						},
						axisTick:{
							show:false
						},
					},
					series: [
						{
							type: 'bar',
							barBorderRadius: [30, 30, 0, 0],
							itemStyle: {   
								normal:{  
									color: function (params){
										var colorList = ['#107ebd','#107ebd','#107ebd'];
										return colorList[params.dataIndex];
									},
									barBorderRadius: [30, 30, 0, 0],
								}
							}
						
						},
						{
							type: 'bar',
							itemStyle: {   
								normal:{  
									color: function (params){
										var colorList = ['#a8684d','#a8684d','#a8684d'];
										return colorList[params.dataIndex];
									},
									barBorderRadius: [30, 30, 0, 0],
								}
							}
						},
						{
							type: 'bar',
							itemStyle: {   
								normal:{  
									color: function (params){
										var colorList = ['#a38b5f','#a38b5f','#a38b5f'];
										return colorList[params.dataIndex];
									},
									barBorderRadius: [30, 30, 0, 0],
								}
							}
						}
					]
				},
				
			}
		},
		mounted() {
			this.getDemonstrationBaseData();
			this.getRossIndustrialOutputData();
			this.getEconomicContributionData();
			this.getHighTechnologyData();
			this.getComprehensiveEnergyConsumptionData();
			this.getEstateInnovationAbilityData();
			
			window.onresize = () => {
				return (() => {
				  this.handleLableWidth();
				})()		 
			}
			
		},
		 methods: {
			 handleLableWidth(){
				 this.economicPerformanceChart.resize();
				 this.economicContributionChart.resize();
				 this.innovationAbilityLeftChart.resize();
				 this.innovationAbilityRightChart.resize();
				 this.comprehensiveEnergyConsumptionChart.resize();
				 this.highTechnologyChart.resize();
			 },
			 
			//示范基地类型
			getDemonstrationBaseData(){
				 let that = this;
				 return new Promise((resolve, reject) => {
				   getDemonstrationBaseData().then(res => {
				 	if(res.data.code == 0){
				 		that.handleDemonstrationBaseData(res.data.object);
				 	}
				     resolve()
				   }).catch(err => {
				     reject(err)
				   })
				 })
			 },
			handleDemonstrationBaseData(data){
				 for(var i=0;i<this.citiPositionList.length;i++){
					 for(var j=0;j<data.length;j++){
						 if(data[j].city == this.citiPositionList[i].name){
							if(!this.citiPositionList[i].show){
								this.citiPositionList[i].show = true;
							}
							var color = getDemonstrationBaseColorByName(data[j].industry_type);
							if(this.citiPositionList[i].data.indexOf(color) == -1){
								if(color == '#96bfff'){
									this.citiPositionList[i].data.push(color);
								}else{
									this.citiPositionList[i].data.unshift(color);
								}
							}
						 }
					 }
				 }
			 },
			 
			//11个区的工业总产值
			getRossIndustrialOutputData(){
				let that = this;
				return new Promise((resolve, reject) => {
				  getRossIndustrialOutputData().then(res => {
					if(res.data.code == 0){
						// var min = 0
						// for(var i=0;i<res.data.object.length;i++){
						// 	for(var j=i;j<res.data.object.length;j++){
						// 		if(res.data.object[i].value > res.data.object[j].value){
						// 			min = res.data.object[i];
						// 			res.data.object[i] = res.data.object[j];
						// 			res.data.object[j] = min
						// 		}
						// 	}
						// }
						that.rossIndustrialOutputData = res.data.object
					}
				    resolve()
				  }).catch(err => {
				    reject(err)
				  })
				})
			 },
			 
			//江苏省经济贡献率
			getEconomicContributionData(){
				let that = this;
				return new Promise((resolve, reject) => {
				  getEconomicContributionData().then(res => {
					if(res.data.code == 0){
						that.handlegetEconomicContributionData(res.data.object)
					}
				    resolve()
				  }).catch(err => {
				    reject(err)
				  })
				})
			 },
			handlegetEconomicContributionData(data){
				var datas = []
				var xData = []
				for(var i = 0;i < data.length;i++){
					xData.push(data[i].name)
					var list = []
					for(var j=0;j<cityList.length;j++){
						var value = getYearData(data[i].object,cityList[j]);
						if(value == null){
							list.push(0);
						}else{
							list.push(value);
						}
					}
					datas.push(list)
				}
				
				var seriesData = [];
				var colorData = ['rgb(11,121,182)','rgb(166,96,71)','rgb(163,139,95)','rgb(233,196,144)']
				for(var i = 0;i < xData.length;i++){
					var item = {
						name:xData[i],
						type: 'bar',
						barBorderRadius: [30, 30, 0, 0],
						barCategoryGap:10,
						itemStyle: {   
							normal:{  
								color: colorData[i],
								opacity:0.6,
								barBorderRadius: [30, 30, 0, 0],
							}
						},
						data:datas[i]
					}
					seriesData.push(item)
				}
				
				this.economicContributionChartOption = {
					grid:{
						show:true,  
						borderColor:"transparent",
						backgroundColor:'#2c3c60',
						left:40,
						right:15,
						top:30,
						bottom:65
					},
					legend: {
						itemWidth:8,
						itemHeight:8,
						bottom:5,
						icon:'circle',
						textStyle:{
							color:'#e8e9ee',
							fontSize:10
						}
					},
					xAxis: {
						type: 'category',
						axisLabel: {
							interval: 0,
					        textStyle: {
					            color: '#e8e9ee',
								fontSize:10
					        },
							formatter:function(value)
					            {
					                return value.split("").join("\n");
					            }
					
					    },
						axisLine:{
							lineStyle:{
								color:'#6e82a7',
							}
						},
						axisTick:{
							show:false,
						},
						data:cityList
					},
					yAxis: {
						axisLabel : {
						    textStyle: {
						        color: '#e8e9ee',
								fontSize:10
						    },
							formatter: '{value} %'
						},
						axisLine:{
							lineStyle:{
								color:'#6e82a7',
							}
						},
						splitLine: {
							lineStyle: {
								color: '#405074',
								type:'dashed'
							}
						},
						axisTick:{
							show:false
						},
					},
					series:seriesData
				}
				this.drawEconomicContributionChart()
			 },
			 
			//高技术产业
			getHighTechnologyData(){
				let that = this;
				return new Promise((resolve, reject) => {
					getHighTechnologyData().then(res => {
						if(res.data.code == 0){
						that.handleHighTechnologyData(res.data.object)
					}
				    resolve()
					}).catch(err => {
						reject(err)
					})
				}) 				 
			},
			handleHighTechnologyData(data){
				 var totalOutputValue = [];
				 var increaseRate = [];
				 var xData = [];
				 for(var i=0;i<data.length;i++){
					 totalOutputValue.push(data[i].value)
					 increaseRate.push(data[i].rate)
					 xData.push(data[i].year)
				}
				var seriesData = [];
				var itemOne = {
				 	name: '高新技术总产值',
				 	type: 'bar',
				 	barCategoryGap:90,
				 	label: {
				 		show: false
				 	},
				 	yAxisIndex: 0,
				 	data: totalOutputValue,
				 	itemStyle: {   
				 		normal:{  
				 			color:'rgb(11,121,182)',
				 			borderWidth:1,
							opacity:0.6,
				 			borderColor:'#65aad4',
							barBorderRadius:[2,2,0,0,]
				 		}
				 	}
				 }
				seriesData.push(itemOne)
				var itemTwo = {
					name: '从业人员增速',
					type: 'line',
					label: {
						show: false
					},
					yAxisIndex: 1,
					data: increaseRate,
					lineStyle:{
						color:"#e2c792"
					},
					itemStyle:{
						color:"#e2c792"
					}
				 }
				seriesData.push(itemTwo)
				this.highTechnologyChartOption={
					grid:{
						show:true,  
						borderColor:"transparent",
						backgroundColor:'#2c3c60',
						left:40,
						right:30,
						top:30,
						bottom:40
					},	
					legend: {
						data: ['高新技术总产值', '从业人员增速'],
						itemWidth:15,
						itemHeight:5,
						bottom:0,
						textStyle:{
							color:'#e8e9ee',
							fontSize:10
						}
					},	
					tooltip: {
						trigger: 'axis',
						axisPointer: {
							type: 'cross',
							label: {
								backgroundColor: '#e2c792'
							}
						}
					},	
					xAxis: {
						type: 'category',
						axisLabel: {
							interval: 0,
					        textStyle: {
					            color: '#e8e9ee',
								fontSize:10
					        }
					    },
						axisLine:{
							lineStyle:{
								color:'#6e82a7',
							}
						},
						axisTick:{
							show:false,
							
						},
						max:2,
						data:xData,
					},
					yAxis: [
						{
							name:'亿元',
							type: 'value',
							scale: true,
							nameTextStyle:{
								color:'#e8e9ee',
								fontSize:10
							},
							axisLabel : {
								textStyle: {
									color: '#e8e9ee',
									fontSize:10
								}
							},
							axisLine:{
								lineStyle:{
									color:'#6e82a7',
								}
							},
							splitLine: {
								lineStyle: {
									color: '#405074',
									type:'dashed'
								}
							},
							axisTick:{
								show:false
							},
							min:0
						},
						{
							type: 'value',
							scale: true,
							minInterval:1,
							axisLabel : {
								textStyle: {
									color: '#e8e9ee',
									fontSize:10
								},
								formatter: '{value} %'
							},
							axisLine:{
								show:false
							},
							splitLine: {
								show:false
							},
							axisTick:{
								show:false
							}
						}
					],
					series: seriesData	
				},
				this.drawHighTechnologyChart()
			 },
			
			//综合能耗
			getComprehensiveEnergyConsumptionData(){
				let that = this;
				return new Promise((resolve, reject) => {
					getComprehensiveEnergyConsumptionData().then(res => {
						if(res.data.code == 0){
						that.handleComprehensiveEnergyConsumptionData(res.data.object)
					}
				    resolve()
					}).catch(err => {
						reject(err)
					})
				}) 	
			},
			handleComprehensiveEnergyConsumptionData(data){
				var totalOutputValue = [];
				var increaseRate = [];
				var xData = [];
				for(var i=0;i<data.length;i++){
					totalOutputValue.push(data[i].value)
					increaseRate.push(data[i].rate)
					xData.push(data[i].year)				 
				}
				var seriesData = [];
				var itemOne = {
					name: '综合能耗',
					type: 'bar',
					barCategoryGap:90,
					label: {
						show: false
					},
					yAxisIndex: 0,
					data: totalOutputValue,
					itemStyle: {   
						normal:{  
							color: 'rgb(11,133,148)',
							borderWidth:1,
							opacity:0.6,
							borderColor:'#289ba7',
							barBorderRadius:[2,2,0,0,]
						}
					}
				}
				seriesData.push(itemOne)
				var itemTwo = {
					name: '综合能耗累计同比',
					type: 'line',
					label: {
						show: false
					},
					yAxisIndex: 1,
					data: increaseRate,
					lineStyle:{
						color:"#e2c792"
					},
					itemStyle:{
						color:"#e2c792"
					}				
				}
				seriesData.push(itemTwo)
				this.comprehensiveEnergyConsumptionChartOption={
					grid:{
						show:true,  
						borderColor:"transparent",
						backgroundColor:'#2c3c60',
						left:40,
						right:30,
						top:30,
						bottom:40
					},	
					legend: {
						itemWidth:15,
						itemHeight:5,
						bottom:0,
						textStyle:{
							color:'#e8e9ee',
							fontSize:10
						}
					},	
					tooltip: {
						trigger: 'axis',
						axisPointer: {
							type: 'cross',
							label: {
								backgroundColor: '#e2c792'
							}
						}
					},	
					xAxis: {
						type: 'category',
						axisLabel: {
							interval: 0,
					        textStyle: {
					            color: '#e8e9ee',
								fontSize:10
					        }
					    },
						axisLine:{
							lineStyle:{
								color:'#6e82a7',
							}
						},
						axisTick:{
							show:false,
							
						},
						max:2,
						data:xData,
					},
					yAxis: [
						{
							name:'亿元',
							type: 'value',
							scale: true,
							nameTextStyle:{
								color:'#e8e9ee',
								fontSize:10
							},
							axisLabel : {
								textStyle: {
									color: '#e8e9ee',
									fontSize:10
								}
							},
							axisLine:{
								lineStyle:{
									color:'#6e82a7',
								}
							},
							splitLine: {
								lineStyle: {
									color: '#405074',
									type:'dashed'
								}
							},
							axisTick:{
								show:false
							},
							min:0
						},
						{
							type: 'value',
							scale: true,
							minInterval:1,
							axisLabel : {
								textStyle: {
									color: '#e8e9ee',
									fontSize:10
								},
								formatter: '{value} %'
							},
							axisLine:{
								show:false
							},
							splitLine: {
								show:false
							},
							axisTick:{
								show:false
							}
						}
					],
					series: seriesData	
				},
				this.drawComprehensiveEnergyConsumptionChart()
			},
			
			//获取创新能力数据
			getEstateInnovationAbilityData(){
				let that = this;
				return new Promise((resolve, reject) => {
				  getInnovationAbilityData().then(res => {
					if(res.data.code == 0 && res.data.object != null && res.data.object.length > 0){
						var dataObject = res.data.object[0]
						that.createEstateInnovationAbilityOption(dataObject)
					}
				    resolve()
				  }).catch(err => {
				    reject(err)
				  })
				})
			},
			createEstateInnovationAbilityOption(data){
				this.innovationAbilityData = data;
				this.innovationAbilityLeftChartOption.title.text = data.input_value
				this.innovationAbilityLeftChartOption.series[2].data[0].value=data.input_value
				this.innovationAbilityLeftChartOption.series[2].data[1].value=(277-data.input_value)
				
				this.innovationAbilityRightChartOption.title.text = data.input_rate + '%'
				this.innovationAbilityRightChartOption.series[2].data[0].value=data.input_rate
				this.innovationAbilityRightChartOption.series[2].data[1].value=(27.7 -data.input_rate)
				
				this.drawInnovationAbilityLeftChart()
				this.drawInnovationAbilityRightChart()
			},
			
			drawEconomicContributionChart() {
			  this.economicContributionChart = echarts.init(document.getElementById('economic_contribution_chart'))
			  this.economicContributionChart.setOption(this.economicContributionChartOption,true);
			},
			
			drawHighTechnologyChart() {
			  this.highTechnologyChart = echarts.init(document.getElementById('high_technology_chart'))
			  this.highTechnologyChart.setOption(this.highTechnologyChartOption,true);
			},
			drawComprehensiveEnergyConsumptionChart() {
			  this.comprehensiveEnergyConsumptionChart = echarts.init(document.getElementById('comprehensive_energy_consumption_chart'))
			  this.comprehensiveEnergyConsumptionChart.setOption(this.comprehensiveEnergyConsumptionChartOption,true);
			},
			drawInnovationAbilityLeftChart() {
			  this.innovationAbilityLeftChart = echarts.init(document.getElementById('innovation_ability_left_chart'))
			  this.innovationAbilityLeftChart.setOption(this.innovationAbilityLeftChartOption,true);
			},
			
			drawInnovationAbilityRightChart(){
				this.innovationAbilityRightChart = echarts.init(document.getElementById('innovation_ability_right_chart'))
				this.innovationAbilityRightChart.setOption(this.innovationAbilityRightChartOption,true);
			}
		},
	}
</script>

<style>
	@import './estate.less';
</style>
